<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/product/product_info_list.css}" />
  <link rel="stylesheet" th:href="@{/css/product/common.css}" />
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
  <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
  <link rel="stylesheet" th:href="@{/css/commons/default.css}">
  <title>우리술 전체보기</title>
</head>

<body>
<!-- 헤더 -->
<header th:replace="~{/fragments/header :: header}"></header>
<!-- //헤더 -->
<main>
  <div class="container">
    <!-- 카테고리 -->
    <form>
      <div class="category-area">
        <div class="category-wrap">
          <a th:href="@{/product/list}">
            <label class="product-new-box">
              <span>NEW 우리술</span>
            </label>
          </a>
          <label for="category-all" class="category-box">
            <span>전체상품</span>
            <input
                    type="radio"
                    id="category-all"
                    name="shopCategory"
                    value="all"
                    th:checked="${'all' == cate || cate == null}"
            />
          </label>
          <label for="category-a" class="category-box">
            <span>막걸리/탁주</span>
            <input type="radio" id="category-a" name="shopCategory" value="group1" th:checked="${'group1' == cate}"/>
          </label>
          <label for="category-b" class="category-box">
            <span>증류주/리큐르</span>
            <input type="radio" id="category-b" name="shopCategory" value="group2" th:checked="${'group2' == cate}"/>
          </label>
          <label for="category-c" class="category-box">
            <span>약주/청주</span>
            <input type="radio" id="category-c" name="shopCategory" value="group3" th:checked="${'group3' == cate}"/>
          </label>
          <label for="category-d" class="category-box">
            <span>와인/과실주</span>
            <input type="radio" id="category-d" name="shopCategory" value="group4" th:checked="${'group4' == cate}"/>
          </label>
          <label for="category-e" class="category-box">
            <span>기타주류</span>
            <input type="radio" id="category-e" name="shopCategory" value="group5" th:checked="${'group5' == cate}"/>
          </label>
        </div>
      </div>
    </form>
    <!-- /카테고리 -->
    <!-- 정렬 -->
    <section class="products_pick_list">
      <div class="section-head">
        <div class="section-head__title">
          총 <span th:text="${pageInfo.total}"
                  th:style="'font-weight: bold; color: rgb(240, 200, 100);'"></span>개의 상품
        </div>
        <select class="section-head__more">
          <option value="date" th:selected="${'date' == orderCond}">등록일순</option>
          <option value="sale" th:selected="${'sale' == orderCond}">판매인기순</option>
        </select>
      </div>

      <div class="store-list product__list">
        <!-- 반복 요소 -->
        <article class="list-product" th:each="product: ${products}">
          <a th:href="@{/product/detail(productNumber=${product.productNumber})}">
            <div class="main_img-box">
              <img th:src="'/upload/' + ${product.productImgMainPath} + '/' + ${product.productImgMainUuid} + '_' + ${product.productImgMainName}" alt="">
            </div>
            <div class="title-box">
              <p class="name" th:text="${product.productName +' '+ product.productAlcoholicity + '도' +' '+ product.productNetWeight + 'ml'}">마스브루어리+도수+용량</p>
              <p class="exple_box" th:text="${product.productSubtitle}"></p>
            </div>
          </a>
        </article>
        <!-- /반복 요소 -->
      </div>
    </section>
    <!-- 페이징 처리  -->
    <div class="page-container">
      <ul class="page-box" th:object="${pageInfo}">
        <a th:href="@{/product/view(orderCond=${orderCond},cate=${cate},page=*{startPage - 1})}" class="page-a" th:if="*{prev}">
          <li class="page-num prev">&lt</li>
        </a>

        <a th:href="@{/product/view(orderCond=${orderCond},cate=${cate},page=${i})}" class="page-a" th:each="i : ${#numbers.sequence(pageInfo.startPage,pageInfo.endPage)}">
          <li class="page-num" th:text="${i}" th:classappend="${i == pageInfo.criteria.page ? 'active' : '' }"></li>
        </a>


        <a th:href="@{/product/view(orderCond=${orderCond},cate=${cate},page=*{endPage + 1})}" class="page-a" th:if="*{next}">
          <li class="page-num next">&gt</li>
        </a>
      </ul>
    </div>
    <!-- /페이징 처리 -->

</main>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script th:src="@{/js/fragments/header.js}"></script>
<script th:src="@{/js/product/product_info_list.js}"></script>
</body>

</html>
