<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>우리술 전체보기</title>
  <link rel="stylesheet" th:href="@{/css/commons/default.css}">
  <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
  <link rel="stylesheet" th:href="@{/css/product/product_info_main.css}">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>

<!--카테고리-->
<section class="category">
  <ul>
    <li class="active">
      <a href="">NEW 우리술</a>
    </li>
    <li>
      <a href="/product/view">전체상품</a>
    </li>
    <li>
      <a href="/product/view?orderCond=date&cate=group1">막걸리/탁주</a>
    </li>
    <li>
      <a href="/product/view?orderCond=date&cate=group2">증류주/리큐르</a>
    </li>
    <li>
      <a href="/product/view?orderCond=date&cate=group3">약주/청주</a>
    </li>
    <li>
      <a href="/product/view?orderCond=date&cate=group4">와인/과실주</a>
    </li>
    <li>
      <a href="/product/view?orderCond=date&cate=group5">기타주류</a>
    </li>
  </ul>
</section>

<section class="content-wrap">
  <main>

    <section class="list-box">
      <h5>막걸리/탁주</h5>
      <div class="list-box__grid">
        <!-- 반복요소 (4개)-->
        <article class="item"  th:each="product: ${products}" th:if="${product.productCategoryNumber == 1 or product.productCategoryNumber == 2}">
          <a th:href="@{/product/detail(productNumber=${product.productNumber})}"><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="'/upload/' + ${product.productImgMainPath} + '/' + ${product.productImgMainUuid} + '_' + ${product.productImgMainName}" alt="">
            </div>
            <div class="item__info">
              <h6 th:text="${product.productName}"></h6>
              <p th:text="${product.productSubtitle}"></p>
            </div>
          </a>
        </article>
        <!-- /반복요소 -->
      </div>
      <div class="btn-box">
        <button type="button" class="show-all-btn">
          <!--링크 수정-->
          <a href="/product/view?orderCond=date&cate=group1">전체보기</a>
        </button>
      </div>
    </section>


    <section class="list-box">
      <h5>약주/청주</h5>
      <div class="list-box__grid">
        <!-- 반복요소 (4개)-->
        <article class="item" th:each="product: ${products}" th:if="${product.productCategoryNumber == 3 or product.productCategoryNumber == 4}">
          <a th:href="@{/product/detail(productNumber=${product.productNumber})}"><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="'/upload/' + ${product.productImgMainPath} + '/' + ${product.productImgMainUuid} + '_' + ${product.productImgMainName}" alt="">
            </div>
            <div class="item__info">
              <h6 th:text="${product.productName}"></h6>
              <p th:text="${product.productSubtitle}"></p>
            </div>
          </a>
        </article>
        <!-- /반복요소 -->
      </div>
      <div class="btn-box">
        <button type="button" class="show-all-btn">
          <!--링크 수정-->
          <a href="/product/view?orderCond=date&cate=group3">전체보기</a>
        </button>
      </div>
    </section>

    <section class="list-box">
      <h5>증류주/리큐르</h5>
      <div class="list-box__grid">
        <!-- 반복요소 (4개)-->
        <article class="item" th:each="product : ${products}" th:if="${product.productCategoryNumber == 5 or product.productCategoryNumber == 6}">
          <a th:href="@{/product/detail(productNumber=${product.productNumber})}"><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="'/upload/' + ${product.productImgMainPath} + '/' + ${product.productImgMainUuid} + '_' + ${product.productImgMainName}" alt="">
            </div>
            <div class="item__info">
              <h6 th:text="${product.productName}"></h6>
              <p th:text="${product.productSubtitle}"></p>
            </div>
          </a>
        </article>
        <!-- /반복요소 -->
      </div>
      <div class="btn-box">
        <button type="button" class="show-all-btn">
          <!--링크 수정-->
          <a href="/product/view?orderCond=date&cate=group2">전체보기</a>
        </button>
      </div>
    </section>

    <section class="list-box">
      <h5>와인/과실주</h5>
      <div class="list-box__grid">
        <!-- 반복요소 (4개)-->
        <article class="item" th:each="product : ${products}" th:if="${product.productCategoryNumber == 7 or product.productCategoryNumber == 8}">
          <a th:href="@{/product/detail(productNumber=${product.productNumber})}"><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="'/upload/' + ${product.productImgMainPath} + '/' + ${product.productImgMainUuid} + '_' + ${product.productImgMainName}" alt="">
            </div>
            <div class="item__info">
              <h6 th:text="${product.productName }"></h6>
              <p th:text="${product.productSubtitle}"></p>
            </div>
          </a>
        </article>
        <!-- /반복요소 -->
      </div>
      <div class="btn-box">
        <button type="button" class="show-all-btn">
          <!--링크 수정-->
          <a href="/product/view?orderCond=date&cate=group4">전체보기</a>
        </button>
      </div>
    </section>

    <section class="list-box">
      <h5>기타주류</h5>
      <div class="list-box__grid">
        <!-- 반복요소 (4개)-->
        <article class="item" th:each="product : ${products}" th:if="${product.productCategoryNumber == 9}">
          <a th:href="@{/product/detail(productNumber=${product.productNumber})}"><!--링크 수정-->
            <div class="item__img-box">
              <img th:src="'/upload/' + ${product.productImgMainPath} + '/' + ${product.productImgMainUuid} + '_' + ${product.productImgMainName}" alt="">
            </div>
            <div class="item__info">
              <h6 th:text="${product.productName}"></h6>
              <p th:text="${product.productSubtitle}"></p>
            </div>
          </a>
        </article>
        <!-- /반복요소 -->
      </div>
      <div class="btn-box">
        <button type="button" class="show-all-btn">
          <!--링크 수정-->
          <a href="/product/view?orderCond=date&cate=group5">전체보기</a>
        </button>
      </div>
    </section>

    <input type="hidden" name="orderCond" th:value="${'date' == orderCond  } ? 'date' : ''">

  </main>
</section>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script th:src="@{/js/fragments/header.js}"></script>
</body>
</html>