<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>주모's store</title>
  <!--    <link rel="stylesheet" th:href="@{/css/product/storeproduct.css}" />-->
  <link rel="stylesheet" th:href="@{/css/product/common.css}" />
  <!--    <link rel="stylesheet" th:href="@{/css/product/storeproductdetail.css}" />-->
  <link rel="stylesheet" th:href="@{/css/product/storeproductdetailtest.css}" />
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
  <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
  <link rel="stylesheet" th:href="@{/css/commons/default.css}">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<main>
  <div class="product_content-wrap">
    <div class="top-box">

      <!--  상품 상단 정보-->
      <div class="product-content_box" th:each="detailproduct: ${detailproducts}">
        <!-- 상품 이미지 상단 -->

        <section class="product-img">
          <div class="product-img__content-box">
            <img src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/10/44/100000919/100000919_detail_074.jpg">
          </div>

        </section>

        <section class="product-info">
          <div class="product-info__topHead-box">
            <div class="product-info__topHead__title">
              <h2>와인/과실주</h2>
              <br>
              <h3>시나브로 피에스 화이트스파클링와인 5도 750ml</h3>
            </div>
          </div>
          <!--                    //product-info__topHead-box-->
          <div class="product-info__price-box">
            <div class="discount-rate">
              7<span>%</span>
            </div>
            <div class="product-info__price">
              <div class="origin-price disib">
                <del
                ><span><em></em>39,000원</span>
                </del>

              </div>

              <div class="sale-price disib">
                <strong
                ><strong><em></em>36,270원</strong></strong
                >
              </div>

            </div>

          </div>

          <!-- //product-info__price-box-->

          <div class="product-info__table-box">

            <table
                    class="tbl"
                    style="
                        border-collapse: collapse;
                        border-spacing: 0;
                        table-layout: fixed;
                        width: 100%;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        border-bottom: 1px solid #dedede;
                      "
            >
              <colgroup>
                <col width="" />
                <col width="" />
                <col width="" />
                <col width="" />
              </colgroup>
              <thead>
              <tr>
                <th scope="col">용량(ml)</th>
                <th scope="col">도수(%)</th>
                <th scope="col">양조장</th>
                <th scope="col">생산지역</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td
                        style="
                              text-align: center;
                              padding: 20px 0;
                              font-weight: 300;
                            "
                >
                  750
                </td>
                <td
                        style="
                              text-align: center;
                              padding: 20px 0;
                              font-weight: 300;
                            "
                >
                  5
                </td>
                <td
                        style="
                              text-align: center;
                              padding: 20px 0;
                              font-weight: 300;
                            "
                >
                  시나브로와이너리
                </td>
                <td
                        style="
                              text-align: center;
                              padding: 20px 0;
                              font-weight: 300;
                            "
                >
                  충청북도 영동군
                </td>
              </tr>
              </tbody>
            </table>

            <dl class="item_price">
              <dt>판매가</dt>
              <dd>
                <strong><strong>36,270</strong></strong
                >원
              </dd>
            </dl>
            <dl>
              <dt>구매제한</dt>
              <dd>옵션당 최소 1개</dd>
            </dl>

            <dl class="item_delivery">
              <dt>배송비</dt>
              <dd>
                <strong>0원</strong>
                <input type="hidden" name="deliveryCollectFl" value="pre" />
                <strong> / 주문시결제(선결제)</strong>

                <div class="delivery-detail">
                  <input
                          type="hidden"
                          name="deliveryMethodFl"
                          value="delivery"
                  />
                  <div class="delivery-division">택배</div>
                </div>
              </dd>
            </dl>

          </div>
          <!--    //product-info__table-box-->

          <div class="item_choice_list">
            <table
                    class="option_display_area"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
            >
              <colgroup>
                <col width="330px" />
                <col />
                <col width="80px" />
                <col width="40px" />
              </colgroup>
              <tbody id="option_display_item_0">
              <tr class="check optionKey_0">
                <td class="cart_prdt_name">
                  <input type="hidden" name="goodsNo[]" value="100000919" />
                  <input type="hidden" name="optionSno[]" value="995" />
                  <input type="hidden" name="goodsPriceSum[]" value="36270" />
                  <input type="hidden" name="addGoodsPriceSum[]" value="0" />
                  <input type="hidden" name="couponApplyNo[]" value="" />
                  <input type="hidden" name="couponSalePriceSum[]" value="" />
                  <input type="hidden" name="couponAddPriceSum[]" value="" />
                  <div class="cart_tit_box">
                    <strong class="cart_tit">
                                <span
                                >시나브로 피에스 화이트스파클링와인 5도 750ml</span
                                >

                      <span id="option_text_display_0"></span>
                    </strong>
                  </div>
                  <!-- //cart_tit_box -->
                </td>
                <!-- //cart_prdt_name -->
                <td>

                  <p class="cartStock">
   <span>
   <button type="button" class="plus">+</button>
   <input type="number" class="numBox" min="1" max="${view.gdsStock}" value="1" readonly="readonly"/>
   <button type="button" class="minus">-</button>

   <script>
    $(".plus").click(function(){
      var num = $(".numBox").val();
      var plusNum = Number(num) + 1;

      if(plusNum >= ${view.gdsStock}) {
        $(".numBox").val(num);
      } else {
        $(".numBox").val(plusNum);
      }
    });

    $(".minus").click(function(){
      var num = $(".numBox").val();
      var minusNum = Number(num) - 1;

      if(minusNum <= 0) {
        $(".numBox").val(num);
      } else {
        $(".numBox").val(minusNum);
      }
    });
   </script>

                  </p>
                  <!-- <span class="count">
                     <span class="goods_qty">
                       <input
                               type="text"
                               name="goodsCnt[]"
                               class="text goodsCnt_0"
                               title="수량"
                               value="1"
                               data-key="0"
                               data-value="1"
                               data-stock="0"
                               onchange="goodsViewController.input_count_change(this, '1');return false;"
                       />
                       <span>
                         <button
                                 type="button"
                                 class="up goods_cnt"
                                 title="증가"
                                 value="up^|^0"
                         >
                           증가
                         </button>
                         <button
                                 type="button"
                                 class="down goods_cnt"
                                 title="감소"
                                 value="dn^|^0"
                         >
                           감소
                         </button>
                       </span>
                     </span>
                   </span>-->
                  <!-- //count -->
                </td>
                <td class="item_choice_price">
                  <input type="hidden" name="optionPriceSum[]" value="0" />
                  <input type="hidden" name="option_price_0" value="0.00" />
                  <strong class="option_price_display_0">36,270</strong>원
                </td>
                <!-- //item_choice_price -->
                <td></td>
              </tr>
              </tbody>
            </table>
            <div class="item_price_cont">
              <div class="end_price item_tatal_box">
                <dl class="total_amount">
                  <dt>총 합계금액</dt>
                  <dd>
                    <strong class="total_price"> 36,270<b>원</b></strong>
                  </dd>
                </dl>
              </div>
              <!-- //item_tatal_box -->
            </div>
            <!-- //item_price_cont -->
          </div>
          <!-- //item_choice_list -->

          <!--                    버튼-->
          <div class="btn_choice_box">
            <div>
              <button id="cartBtn" type="button" class="btn_add_cart">
                장바구니
              </button>
              <button type="button" class="btn_add_order">바로 구매</button>
            </div>
          </div>

        </section>


      </div>
      <!--    //product-content_box   -->


      <!--            상품 디테일 이미지 -->
      <div class="item_goods_sec">
        <div class="category-area">
          <div class="category-wrap">
            <label for="category-best" class="category-box">
              <span>상품상세정보</span>
              <input
                      type="radio"
                      id="category-best"
                      name="shopCategory"
                      value="best"
              />
            </label>

            <label for="category-a" class="category-box checked">
              <span>관련상품</span>
              <input
                      type="radio"
                      id="category-a"
                      name="shopCategory"
                      value="a"
              />
            </label>
            <label for="category-b" class="category-box checked">
              <span>상품후기</span>
              <input
                      type="radio"
                      id="category-b"
                      name="shopCategory"
                      value="b"
              />
            </label>

          </div>
          <!-- //item_goods_tab -->
          <div class="detail_cont">
            <div class="detail_explain_box go01">
              <div class="image-manual"><!-- 이미지 --></div>
              <div class="txt-manual">


                <img
                        src="http://ai.esmplus.com/gsool18/oyeonga/company/etc_02.jpg"
                /><br />
                <img
                        src="http://ai.esmplus.com/gsool18/oyeonga/company/etc_03.jpg"
                /><br />
              </div>
            </div>
          </div>
        </div>

        <!-- /상품상세 -->
        <!-- 추천상품 -->
        <h3>관련 상품</h3>
        <div class="goods">
          <div class="store-list product__list">
            <!-- 반복 요소 -->
            <article class="list-product" >
              <div class="sale-box">
              <span>
                <strong class="sale-percent" ></strong>%
              </span>
                <span>SALE</span>
              </div>
              <div class="main_img-box">
               <!-- <img th:src="'/upload/' + ${detailproduct.productImgMainPath} + '/' + ${detailproduct.productImgMainUuid} + '_' + ${detailproduct.productImgMainName}" alt="">-->
              </div>
              <div class="title-box">
                <p class="name" >마스브루어리+도수+용량</p>
                <p class="sale-price" >26,600원</p>
                <del class="price" > 28,000원</del>
              </div>
            </article>
            <article class="list-product">
              <div class="sale-box">
              <span>
                <strong class="sale-percent">5</strong>%
              </span>
                <span>SALE</span>
              </div>
              <div class="main_img-box">
                <img src="/imgs/product/product02.jpg" alt="">
              </div>
              <div class="title-box">
                <p class="name">오연가+도수+용량</p>
                <p class="sale-price">11,400원</p>
                <del class="price"> 12,000원</del>
              </div>
            </article>
            <!-- /반복 요소 -->
          </div>


        </div>
        <!-- 추천상품 -->
      </div>
    </div>




    <div class="reply-wrap">
      <h3>상품후기</h3>

      <div class="reply-wrap__box">
        <div class="reply-content__box">
          <div class="reply-writer">홍길동</div>
          <textarea
                  name="replyContent"
                  id="reply-content"
                  cols="30"
                  rows="10"
          ></textarea>
        </div>
        <div class="form-group">
          <ul class="file-wrap">
            <li>
              <input type="file" id="post-image" name="boardFile" accept="image/*" multiple />
            </li>
            <li class="img-list"></li>
            <li class="img-list"></li>
            <li class="img-list"></li>
            <li class="img-list"></li>
          </ul>
        </div>
        <div class="reply-btn-wrap">
          <button type="button" class="btn-reply">후기작성</button>
        </div>
      </div>
      <!-- 상품 후기 -->
    </div>
    <!--상품 후기-->









    <!--   //top-box  -->
  </div>
  <!--  //product_content-wrap -->
  </div>
</main>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script th:src="@{/js/fragments/header.js}"></script>
<script th:src="@{/js/product/storeproduct.js}"></script>
</body>
</html>
