<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>주모's store</title>
  <link rel="stylesheet" th:href="@{/css/product/common.css}" />
  <link rel="stylesheet" th:href="@{/css/product/storeproductdetail.css}" />
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
  <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
  <link rel="stylesheet" th:href="@{/css/commons/default.css}">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<main>
  <div class="product_content-wrap">

    <div class="top-box">

      <!--  상품 상단 정보-->
      <div class="product-content_box">
        <!-- 상품 이미지 상단 -->

        <section class="product-img">
          <div class="product-img__content-box">
            <img th:src="'/upload/' + ${detailproduct.productImgMainPath} + '/'
            + ${detailproduct.productImgMainUuid} + '_' + ${detailproduct.productImgMainName}" alt="">

          </div>

        </section>

        <section class="product-info">
          <form th:action="@{/order/next}" method="get" id="product-form">

          <div class="product-info__topHead-box">
            <div class="product-info__topHead__title">
              <h2 th:text="${detailproduct.productCategoryName}">와인/과실주</h2>
              <br>
              <h3 th:text="${detailproduct.productName}+' '+${detailproduct.productAlcoholicity}+'도'
              +' '+${detailproduct.productNetWeight}+'ml'" >시나브로 피에스 화이트스파클링와인 5도 750ml</h3>
            </div>
          </div>
          <!--                    //product-info__topHead-box-->
          <div class="product-info__price-box">
            <div class="discount-rate" th:text="${detailproduct.productDiscount}+'%'">
            </div>
            <div class="product-info__price">
              <div class="origin-price disib">
                <del
                ><span th:text="${detailproduct.productPrice}"><em></em>39,000원</span>
                </del>

              </div>

              <div class="sale-price disib">
                <strong
                ><strong th:with="isEven=${detailproduct.productPrice - (detailproduct.productPrice * (detailproduct.productDiscount/100.0))}" th:text="${#numbers.formatInteger(isEven,0,'COMMA') + '원'}"><em></em>36,270원</strong></strong
                >
              </div>

            </div>

          </div>

          <!-- //product-info__price-box-->

          <div class="product-info__table-box">

            <table
                    class="tbl"
                    style="
                        border-collapse: collapse;
                        border-spacing: 0;
                        table-layout: fixed;
                        width: 100%;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        border-bottom: 1px solid #dedede;
                      "
            >
              <colgroup>
                <col width="" />
                <col width="" />
                <col width="" />
                <col width="" />
              </colgroup>
              <thead>
              <tr>
                <th scope="col">용량(ml)</th>
                <th scope="col">도수(%)</th>
                <th scope="col">양조장</th>
                <th scope="col">생산지역</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td
                        style="
                              text-align: center;
                              padding: 20px 0;
                              font-weight: 300;
                            "
                        th:text="${detailproduct.productNetWeight}"
                >
                  750
                </td>
                <td
                        style="
                              text-align: center;
                              padding: 20px 0;
                              font-weight: 300;
                            "
                        th:text="${detailproduct.productAlcoholicity}"
                >
                  5
                </td>
                <td
                        style="
                              text-align: center;
                              padding: 20px 0;
                              font-weight: 300;
                            "
                        th:text="${detailproduct.productDistillery}"
                >
                  시나브로와이너리
                </td>
                <td
                        style="
                              text-align: center;
                              padding: 20px 0;
                              font-weight: 300;
                            "
                        th:text="${detailproduct.productArea}"
                >
                  충청북도 영동군
                </td>
              </tr>
              </tbody>
            </table>

            <dl class="item_price">
              <dt>판매가</dt>
              <dd>
                <strong><strong id="result-price" th:with="isEven=${detailproduct.productPrice - (detailproduct.productPrice * (detailproduct.productDiscount/100.0))}" th:text="${#numbers.formatInteger(isEven,0,'COMMA')}">36,270</strong></strong
                >원
              </dd>
            </dl>
            <dl>
              <dt>구매제한</dt>
              <dd>옵션당 최소 1개</dd>
            </dl>

            <dl class="item_delivery">
              <dt>배송비</dt>
              <dd>
                <strong>3,000원</strong>

                <strong> / 주문시결제(선결제)</strong>

                <div class="delivery-detail">

                  <div class="delivery-division">택배</div>
                </div>
              </dd>
            </dl>

          </div>
          <!--    //product-info__table-box-->



          <div class="item_choice_list">
            <table
                    class="option_display_area"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
            >
              <colgroup>
                <col width="330px" />
                <col />
                <col width="80px" />
                <col width="40px" />
              </colgroup>
              <tbody id="option_display_item_0">
              <tr class="check optionKey_0">
                <td class="cart_prdt_name">
                  <div class="cart_tit_box">
                    <strong class="cart_tit">
                                <span style="padding: 20px"
                                th:text="${detailproduct.productName}+' '+${detailproduct.productAlcoholicity}+'도'
              +' '+${detailproduct.productNetWeight}+'ml'">시나브로 피에스 화이트스파클링와인 5도 750ml</span
                                >

                      <span id="option_text_display_0"></span>
                    </strong>
                  </div>
                </td>
                <!-- 상품 수량-->
                <td>
                  <p class="cartStock">
                      <button type="button" class="plus">+</button>
                      <input name="productCount" type="number" class="numBox" min="1" max="${view.gdsStock}" value="1" readonly="readonly"/>
                      <button type="button" class="minus">-</button>
                  </p>

                </td>
                <td class="item_choice_price">
                  <strong class="option_price_display_0" th:with="isEven=${detailproduct.productPrice - (detailproduct.productPrice * (detailproduct.productDiscount/100.0))}" th:text="${#numbers.formatInteger(isEven,0,'COMMA')}" >36,270</strong>원
                </td>
                <!-- //item_choice_price -->
                <td></td>
              </tr>
              </tbody>
            </table>
            <div class="item_price_cont">
              <div class="end_price item_tatal_box">
                <dl class="total_amount">
                  <dt>총 합계금액</dt>
                  <dd>
                    <strong class="total_price">
                      <span class="total_price--display" th:with="isEven=${detailproduct.productPrice - (detailproduct.productPrice * (detailproduct.productDiscount/100.0))}" th:text="${#numbers.formatInteger(isEven,0,'COMMA')}"></span>
                      <b>원</b>
                    </strong>
                  </dd>
                </dl>
              </div>
              <!-- //item_tatal_box -->
            </div>
            <!-- //item_price_cont -->
          </div>
          <!-- //item_choice_list -->

          <!--                    버튼-->

            <div class="btn_choice_box">
              <div>
                <button id="cartBtn" type="button" class="btn_add_cart" th:data-num="${session.userNumber}">
                  장바구니
                </button>
                  <!--     세션에서 유전 넘버 갖고 오기     -->
                <button type="button" class="btn_add_order" th:data-num="${session.userNumber}">바로 구매</button>
              </div>
            </div>
          <input type="hidden" class="product-num" name="productNumber" th:value="${detailproduct.productNumber}">

          </form>


        </section>


      </div>

      <!--    //product-content_box   -->


      <!--            상품 디테일 이미지 -->
      <div class="item_goods_sec">
        <div class="category-area">
          <div class="detail_cont">
            <div class="detail_explain_box go01">
              <div class="image-manual"><!-- 이미지 --></div>
              <div class="txt-manual" th:each="dimg: ${dimgs}">
                <img th:src="'/upload/' + ${dimg.productImgPath} + '/'
            + ${dimg.productImgUuid} + '_' + ${dimg.productImgName}" alt=""
                />
              </div>
            </div>
          </div>
        </div>



    <!--   //top-box  -->
  </div>
  <!--  //product_content-wrap -->
  </div>
  </div>
</main>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script th:src="@{/js/fragments/header.js}"></script>
<script th:src="@{/js/product/storeproductdetail.js}"></script>
</body>
</html>
