<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/product/storeproduct.css}" />
  <link rel="stylesheet" th:href="@{/css/product/common.css}" />
  <title>주모's store</title>
</head>

<body
        id="blContents"
        class="body-goods body-goods-list pc"
        oncontextmenu="return false"
        cz-shortcut-listen="true"
>
<!-- 헤더 -->
<header></header>
<!-- //헤더 -->

<div class="container">
  <!-- 카테고리 -->
  <div class="category-area">
    <div class="category-wrap">
      <label for="category-best" class="category-box">
        <span>베스트 상품🏆</span>
        <input
                type="radio"
                id="category-best"
                name="shopCategory"
                value="best"
        />
      </label>
      <label for="category-all" class="category-box checked">
        <span>전체상품</span>
        <input
                type="radio"
                id="category-all"
                name="storeCategory"
                value="all"
        />
      </label>
      <label for="category-a" class="category-box checked">
        <span>막걸리/탁주</span>
        <input type="radio" id="category-a" name="shopCategory" value="a" />
      </label>
      <label for="category-b" class="category-box checked">
        <span>증류주/리큐르</span>
        <input type="radio" id="category-b" name="shopCategory" value="b" />
      </label>
      <label for="category-c" class="category-box checked">
        <span>약주/청주</span>
        <input type="radio" id="category-c" name="shopCategory" value="c" />
      </label>
      <label for="category-d" class="category-box checked">
        <span>와인/과실주</span>
        <input type="radio" id="category-d" name="shopCategory" value="d" />
      </label>
      <label for="category-e" class="category-box checked">
        <span>기타주류</span>
        <input type="radio" id="category-e" name="shopCategory" value="e" />
      </label>
    </div>
  </div>
  <!-- /카테고리 -->
  <!-- 정렬 -->
  <form>
    <div class="products_pick_list">
      <div class="products_pick_num">
        <div class="pick_list_num">총 <strong>641</strong>개의 상품</div>
      </div>

      <select class="pick_list_box">
        <option value="등록일순"selected="selected">등록일순</option>
        <option value="판매인기순">판매인기순</option>
        <option value="낮은가격순">낮은가격순</option>
        <option value="높은가격순">높은가격순</option>
        <option value="상품평순">상품평순</option>
      </select>
    </div>
  </form>

  <!-- /정렬 -->
  <!-- 상품목록 -->
  <div class="product">
    <!-- 게시물 샘플 -->
    <div class="product-item" th:each="product: ${products}">
      <div class="product-img-box">
        <div
                class="product-item-image"
                style="
                background-image: url(https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/11/48/100004711/100004711_detail_05.jpg);
              "
        ></div>
        <!-- 별점/ 찜하기 -->
        <!-- <div class="product-item-info">
          <span class="like">
            <i class="fas fa-heart"></i>
            <span class="like-count">12</span>
          </span>
          <span class="comment">
            <i class="fas fa-comment"></i>
            <span class="comment-count">5</span>
          </span>
        </div> -->
        <!-- //별점/찜하기 -->
      </div>
      <div class="product-item-text">
        <h3 class="product-item-title">오연가 오연 25도 360ml 홍시증류주</h3>
        <span class="product-item-price_box">
              <span>11,400원</span> <del>12,000원</del></span
        >
      </div>
      <div class="box_absol">
        <div class="sale">
          <span><strong>5</strong>%</span>
          <span>SALE</span>
        </div>
      </div>
    </div>
    <!-- /게시물 샘플 -->
    <!-- 게시물 샘플 -->
    <div class="product-item" th:each="product: ${products}">
      <div class="product-img-box">
        <div
                class="product-item-image"
                style="
                background-image: url(https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/11/48/100004710/100004710_detail_06.jpg);
              "
        ></div>
        <!-- 별점/ 찜하기 -->
        <!-- <div class="product-item-info">
            <span class="like">
              <i class="fas fa-heart"></i>
              <span class="like-count">12</span>
            </span>
            <span class="comment">
              <i class="fas fa-comment"></i>
              <span class="comment-count">5</span>
            </span>
          </div> -->
        <!-- //별점/찜하기 -->
      </div>
      <div class="product-item-text">
        <h3 class="product-item-title">
          내변산 부안참뽕와인 미니어쳐세트 13도 90mlx5
        </h3>
        <span class="product-item-price_box">
              <span>11,400원</span>
              <del>12,000원</del></span
        >
      </div>
      <div class="box_absol">
        <div class="sale">
          <span><strong>5</strong>%</span>
          <span>SALE</span>
        </div>
      </div>
    </div>
    <!-- /게시물 샘플 -->
    <!-- 게시물 샘플 -->
    <div class="product-item" th:each="product: ${products}">
      <div class="product-img-box">
        <div
                class="product-item-image"
                style="
                background-image: url(https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/11/48/100004709/100004709_detail_058.jpg);
              "
        ></div>
        <!-- 별점/ 찜하기 -->
        <!-- <div class="product-item-info">
            <span class="like">
              <i class="fas fa-heart"></i>
              <span class="like-count">12</span>
            </span>
            <span class="comment">
              <i class="fas fa-comment"></i>
              <span class="comment-count">5</span>
            </span>
          </div> -->
        <!-- //별점/찜하기 -->
      </div>
      <div class="product-item-text">
        <h3 class="product-item-title">
          내변산 부안참뽕와인 미니어쳐 13도 90ml
        </h3>
        <span class="product-item-price_box">
              <span>3,320원</span>
              <del>3,500원</del></span
        >
      </div>
      <div class="box_absol">
        <div class="sale">
          <span><strong>5</strong>%</span>
          <span>SALE</span>
        </div>
      </div>
    </div>
    <!-- /게시물 샘플 -->
    <!-- 게시물 샘플 -->
    <div class="product-item" th:each="product: ${products}">
      <div class="product-img-box">
        <div
                class="product-item-image"
                style="
                background-image: url(https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/11/48/100004708/100004708_detail_043.jpg);
              "
        ></div>
        <!-- 별점/ 찜하기 -->
        <!-- <div class="product-item-info">
            <span class="like">
              <i class="fas fa-heart"></i>
              <span class="like-count">12</span>
            </span>
            <span class="comment">
              <i class="fas fa-comment"></i>
              <span class="comment-count">5</span>
            </span>
          </div> -->
        <!-- //별점/찜하기 -->
      </div>
      <div class="product-item-text">
        <h3 class="product-item-title">
          김연박명인 민속주안동소주 양반탈 45도 400ml 조옥화1대명인
        </h3>
        <span class="product-item-price_box">
              <span>30,400원</span>
              <del>32,000원</del></span
        >
      </div>
      <div class="box_absol">
        <div class="sale">
          <span><strong>5</strong>%</span>
          <span>SALE</span>
        </div>
      </div>
    </div>
    <!-- /게시물 샘플 -->
    <!-- 게시물 샘플 -->
    <div class="product-item" th:each="product: ${products}">
      <div class="product-img-box">
        <div
                class="product-item-image"
                style="
                background-image: url(https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/11/48/100004707/100004707_detail_035.jpg);
              "
        ></div>
        <!-- 별점/ 찜하기 -->
        <!-- <div class="product-item-info">
            <span class="like">
              <i class="fas fa-heart"></i>
              <span class="like-count">12</span>
            </span>
            <span class="comment">
              <i class="fas fa-comment"></i>
              <span class="comment-count">5</span>
            </span>
          </div> -->
        <!-- //별점/찜하기 -->
      </div>
      <div class="product-item-text">
        <h3 class="product-item-title">
          솔티마을 심쿵하리 사과 하드셀처와인 4.5도 375ml
        </h3>
        <span class="product-item-price_box">
              <span>14,250원</span>
              <del>15,000원</del></span
        >
      </div>
      <div class="box_absol">
        <div class="sale">
          <span><strong>5</strong>%</span>
          <span>SALE</span>
        </div>
      </div>
    </div>
    <!-- /게시물 샘플 -->
    <!-- 게시물 샘플 -->
    <div class="product-item" th:each="product: ${products}">
      <div class="product-img-box">
        <div
                class="product-item-image"
                style="
                background-image: url(https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/11/48/100004705/100004705_detail_097.jpg);
              "
        ></div>
        <!-- 별점/ 찜하기 -->
        <!-- <div class="product-item-info">
            <span class="like">
              <i class="fas fa-heart"></i>
              <span class="like-count">12</span>
            </span>
            <span class="comment">
              <i class="fas fa-comment"></i>
              <span class="comment-count">5</span>
            </span>
          </div> -->
        <!-- //별점/찜하기 -->
      </div>
      <div class="product-item-text">
        <h3 class="product-item-title">
          솔티마을 오롯이 포도 스파클링와인 4.5도 375ml
        </h3>
        <span class="product-item-price_box">
              <span>14,250원</span>
              <del>15,000원</del></span
        >
      </div>
      <div class="box_absol">
        <div class="sale">
          <span><strong>5</strong>%</span>
          <span>SALE</span>
        </div>
      </div>
    </div>
    <!-- /게시물 샘플 -->

    <!-- 게시물 샘플 -->
    <div class="product-item" th:each="product: ${products}">
      <div class="product-img-box">
        <div
                class="product-item-image"
                style="
                background-image: url(https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/11/48/100004704/100004704_detail_02.jpg);
              "
        ></div>
        <!-- 별점/ 찜하기 -->
        <!-- <div class="product-item-info">
                  <span class="like">
                    <i class="fas fa-heart"></i>
                    <span class="like-count">12</span>
                  </span>
                  <span class="comment">
                    <i class="fas fa-comment"></i>
                    <span class="comment-count">5</span>
                  </span>
                </div> -->
        <!-- //별점/찜하기 -->
      </div>
      <div class="product-item-text">
        <h3 class="product-item-title">
          서울고량주 레드 35도 375ml x2병 + 서울고량주전용잔 2개 증정
        </h3>
        <span class="product-item-price_box">
              <span>25,110원</span>
              <del>26,000원</del></span
        >
      </div>
      <div class="box_absol">
        <div class="sale">
          <span><strong>5</strong>%</span>
          <span>SALE</span>
        </div>
      </div>
    </div>
    <!-- /게시물 샘플 -->
    <!-- 게시물 샘플 -->
    <div class="product-item" th:each="product: ${products}">
      <div class="product-img-box">
        <div
                class="product-item-image"
                style="
                background-image: url(https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/11/47/100004703/100004703_detail_028.jpg);
              "
        ></div>
        <!-- 별점/ 찜하기 -->
        <!-- <div class="product-item-info">
              <span class="like">
                <i class="fas fa-heart"></i>
                <span class="like-count">12</span>
              </span>
              <span class="comment">
                <i class="fas fa-comment"></i>
                <span class="comment-count">5</span>
              </span>
            </div> -->
        <!-- //별점/찜하기 -->
      </div>
      <div class="product-item-text">
        <h3 class="product-item-title">참주가 우리청주 11도 375ml 7분도정</h3>
        <span class="product-item-price_box">
              <span>3,320원</span>
              <del>3,500원</del></span
        >
      </div>
      <div class="box_absol">
        <div class="sale">
          <span><strong>5</strong>%</span>
          <span>SALE</span>
        </div>
      </div>
    </div>
    <!-- /게시물 샘플 -->
    <!-- 게시물 샘플 -->
    <div class="product-item" th:each="product: ${products}">
      <div class="product-img-box">
        <div
                class="product-item-image"
                style="
                background-image: url(https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/12/49/100004721/100004721_detail_084.jpg);
              "
        ></div>
        <!-- 별점/ 찜하기 -->
        <!-- <div class="product-item-info">
              <span class="like">
                <i class="fas fa-heart"></i>
                <span class="like-count">12</span>
              </span>
              <span class="comment">
                <i class="fas fa-comment"></i>
                <span class="comment-count">5</span>
              </span>
            </div> -->
        <!-- //별점/찜하기 -->
      </div>
      <div class="product-item-text">
        <h3 class="product-item-title">
          제주왕지케 설홍 20도 375ml 동백증류주
        </h3>
        <span class="product-item-price_box">
              <span>4,750원</span>
              <del>5,000원</del></span
        >
      </div>
      <div class="box_absol">
        <div class="sale">
          <span><strong>5</strong>%</span>
          <span>SALE</span>
        </div>
      </div>
    </div>
    <!-- /게시물 샘플 -->
    <!-- 게시물 샘플 -->
    <div class="product-item" th:each="product: ${products}">
      <div class="product-img-box">
        <div
                class="product-item-image"
                style="
                background-image: url(https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/12/49/100004720/100004720_detail_039.jpg);
              "
        ></div>
        <!-- 별점/ 찜하기 -->
        <!-- <div class="product-item-info">
              <span class="like">
                <i class="fas fa-heart"></i>
                <span class="like-count">12</span>
              </span>
              <span class="comment">
                <i class="fas fa-comment"></i>
                <span class="comment-count">5</span>
              </span>
            </div> -->
        <!-- //별점/찜하기 -->
      </div>
      <div class="product-item-text">
        <h3 class="product-item-title">문경주조 폭스진 25도 200ml</h3>
        <span class="product-item-price_box">
              <span>16,050원</span>
              <del>16,900원</del></span
        >
      </div>
      <div class="box_absol">
        <div class="sale">
          <span><strong>5</strong>%</span>
          <span>SALE</span>
        </div>
      </div>
    </div>
    <!-- /게시물 샘플 -->
  </div>
</div>
<!-- 페이징 처리  -->
<div class="page-container">
  <ul class="page-box">
    <a href="" class="page-a">
      <li class="page-num prev">&lt</li>
    </a>
    <a href="" class="page-a">
      <li class="page-num active">1</li>
    </a>
    <a href="" class="page-a">
      <li class="page-num">2</li>
    </a>
    <a href="" class="page-a">
      <li class="page-num">3</li>
    </a>
    <a href="" class="page-a">
      <li class="page-num">4</li>
    </a>
    <a href="" class="page-a">
      <li class="page-num">5</li>
    </a>
    <a href="" class="page-a">
      <li class="page-num next">&gt</li>
    </a>
  </ul>
</div>
<!-- /페이징 처리 -->


<!-- 페이징 처리 -->
<!--<div class="page-container">-->
<!--  <ul class="page-box" th:object="${pageInfo}">-->
<!--    <a th:href="@{/store/main(page=*{startPage-1})}" class="page-a" th:if="*{prev}">-->
<!--      <li class="page-num prev">&lt</li>-->
<!--    </a>-->

<!--    &lt;!&ndash;    페이징 처리는 시작번호~끝번호 까지 반복을 돌려야 하므로 빠른 for문으로 처리 불가능하다.(시작과 끝이 정해졌기 때문)-->
<!--          그렇기 때문에 타임리프에서 제공해주는 객체를 사용하여 처리해준다.-->
<!--          #을 붙이면 타임리프에서 제공해주는 객체를 사용할 수 있으며 numbers라는 객체는 sequence(시작 값, 끝 값)라는 메소드를-->
<!--          지원해준다.  sequence(1, 5) -> 1, 2, 3, 4, 5-->
<!--    &ndash;&gt;-->
<!--    <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">-->
<!--      <a th:href="@{/store/main(page=${i})}" class="page-a">-->
<!--        <li class="page-num" th:classappend="${i==pageInfo.criteria.page} ? 'active' : '' " th:text="${i}"></li>-->
<!--      </a>-->
<!--    </th:block>-->


<!--    <a th:href="@{/store/main(page=*{endPage+1})}" class="page-a" th:if="*{next}">-->
<!--      <li class="page-num next">&gt</li>-->
<!--    </a>-->
<!--  </ul>-->
<!--</div>-->
<!-- /페이징 처리 -->

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/product/storeproduct.js}"></script>
</body>

</html>
