<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jumak.mapper.order.OrderMapper">

<!--    장바구니 삽입-->
    <insert id="cartInsert" parameterType="shoppingListDto">
        insert into JUMAK_SHOPPING_LIST (PRODUCT_NUMBER, USER_NUMBER, PRODUCT_COUNT)
        values (#{productNumber},#{userNumber},#{productCount})
    </insert>

<!--    장바구니 삭제-->
    <delete id="cartDelete" parameterType="shoppingListDto">
        DELETE FROM JUMAK_SHOPPING_LIST
        WHERE PRODUCT_NUMBER = #{productNumber} AND USER_NUMBER = #{userNumber}
    </delete>

<!--    장바구니 리스트 조회-->
    <select id="cartListSelect" parameterType="long" resultType="cartVo">
        SELECT CART.PRODUCT_NUMBER, USER_NUMBER, PRODUCT_COUNT,
               P.PRODUCT_NAME, PRODUCT_NET_WEIGHT, PRODUCT_ALCOHOLICITY, PRODUCT_PRICE, PRODUCT_DISCOUNT,
               IMG.PRODUCT_IMG_MAIN_NUMBER, PRODUCT_IMG_MAIN_NAME, PRODUCT_IMG_MAIN_PATH, PRODUCT_IMG_MAIN_UUID
        FROM JUMAK_SHOPPING_LIST CART
                 JOIN JUMAK_PRODUCT P ON CART.USER_NUMBER = #{userNumber} AND CART.PRODUCT_NUMBER = P.PRODUCT_NUMBER
                 LEFT JOIN JUMAK_PRODUCT_IMG_MAIN IMG ON P.PRODUCT_NUMBER = IMG.PRODUCT_NUMBER
    </select>

<!--주문 정보 삽입-->
    <insert id="orderInsert" parameterType="orderVo">
        <selectKey keyProperty="orderNumber" order="BEFORE" resultType="long">
            select SEQ_ORDER.nextval from dual
        </selectKey>
        insert into JUMAK_ORDER (ORDER_NUMBER, USER_NUMBER, ORDER_RECIPIENT, ORDER_ZIPCODE, ORDER_ADDRESS, ORDER_ADDRESS_DETAIL,
                                 ORDER_CELLPHONENUMBER, ORDER_PHONENUMBER, ORDER_DATE, ORDER_STATUS_NUMBER)
        values (#{orderNumber},#{userNumber},#{orderRecipient},#{orderZipcode},#{orderAddress},#{orderAddressDetail},
          #{orderCellphoneNumber},#{orderPhoneNumber},SYSDATE,#{orderStatusNumber})

    </insert>


<!--    주문자 정보 조회 -->
    <select id="selectByUNumber" resultType="orderVo">
        select U.USER_NUMBER,USER_NAME,USER_EMAIL, USER_CELLPHONENUMBER, USER_PHONENUMBER, USER_ADDRESS,
               USER_ADDRESS_DETAIL, USER_ZIPCODE, USER_BIRTH, USER_GRADE_NUMBER
        from JUMAK_USER u
        WHERE U.USER_NUMBER=#{userNumber}
    </select>



<!--    결제 정보-->
    <insert id="paymentInsert" parameterType="orderVo">
        insert into JUMAK_PAYMENT (PAYMENT_NUMBER, PAYMENT_DATE, PAYMENT_TOTAL_AMOUNT, PAYMENT_TOTAL_DISCOUNT,
                                   PAYMENT_DELIVERY_FEE, PAYMENT_TOTAL, ORDER_NUMBER)
        values (SEQ_PAYMENT.nextval,SYSDATE,#{paymentTotalAmount},#{paymentTotalDiscount},#{paymentDeliveryFee},#{paymentTotal},
                #{orderNumber})
    </insert>





<!--    주문 요약 정보-->
    <select id="selectByNumber" resultType="orderVo" >
        SELECT PAYMENT_NUMBER, PAYMENT_TOTAL, ORDER_DATE, USER_NUMBER, ORDER_NUMBER
        FROM (
                 SELECT JP.PAYMENT_NUMBER, JP.PAYMENT_TOTAL,
                        JO.ORDER_DATE, JO.USER_NUMBER, JO.ORDER_NUMBER
                 FROM  JUMAK_ORDER JO INNER JOIN JUMAK_PAYMENT JP
                     ON JO.USER_NUMBER=#{userNumber} AND JO.ORDER_NUMBER = JP.ORDER_NUMBER
                 ORDER BY JO.ORDER_NUMBER DESC
             )
        WHERE ROWNUM = 1

    </select>

</mapper>