@font-face {
  font-family: "ChosunGu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: ChosunGu;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
}

html {
  width: 100%;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 1;
  color: #212121;
}

body {
  width: 100%;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 1;
  color: #212121;
  -webkit-text-size-adjust: none;
}

.location_wrap {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ededed;
}

.location_wrap .location_cont {
  width: 100%;
  margin: 0 auto;
}

.location_cont em {
  display: block;
  float: left;
  padding: 12px 0 10px 0;
  color: #777777;
  font-size: 11px;
}

em {
  font-style: normal;
  font-weight: 400;
}

.location_cont .local_home {
  color: #777777;
}

a {
  text-decoration: none;
}

.location_wrap .location_cont::after {
  display: block;
  clear: both;
  content: "";
}
/* ------------------------------------------------------------------------ */
#container .sub_content {
  padding-top: 112px;
  min-height: 600px;
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
}

.content_box {
  width: 90%;
  padding-top: 40px;
  margin: 0 auto;
}

.member_wrap {
  width: 593px;
  margin: 20px auto 40px auto;
}

.member_tit h2 {
  font-size: 28px;
  margin: 0 0 20px 0;
}

.member_cont {
  padding: 70px 60px;
  border: 1px solid #dbdbdb;
}

.member_cont h3 {
  font-weight: normal;
  font-size: 18px;
  color: #222222;
}

.member_cont h3 + p {
  padding: 5px 0 8px 0;
  color: #bebebc;
}

.find_password_reset_box .login_input {
  width: 320px;
  padding: 30px 75px 0 76px;
  text-align: center;
}

.login_input {
  border-top: 1px solid #dbdbdb;
}
/* ------------------------------------------------------------ */
#wrap .login_input .member_warning {
  display: block;
}

#wrap .member_warning {
  position: relative;
}

.find_password_reset_box .login_input input {
  width: 320px;
  margin: 15px 0 0 0;
  padding: 0 0 0 5px;
}

input[type="password"] {
  border-radius: 0;
  font-size: 14px;
  height: 31px;
  color: #333333;
  border: 1px solid #d6d6d6;
  line-height: 31px;
  box-sizing: border-box;
}

input {
  vertical-align: middle;
}

.member_cont .btn_center_box {
  margin: 35px 0 0 0;
}

.btn_center_box {
  text-align: center;
}

.btn_member_ok {
  border: 1px solid rgb(240, 200, 100);
  background: rgb(240, 200, 100);
  width: 150px;
  height: 45px;
  margin: 35px 0 0 0;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

button {
  letter-spacing: -0.05px;
  border-radius: 0;
  vertical-align: middle;
  line-height: 1.5;
}
