<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>

    <link rel="stylesheet" th:href="@{/css/admin/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/commons/default.css}">
    <link rel="stylesheet" href="/css/contentLeft.css">
    <link rel="stylesheet" href="/css/user/userModi.css">
</head>

<body>
<header th:replace="~{/admin/layout/header :: header}"></header>
    <div>
        <div></div>
        <div class="sub_content">
            <div class="side_cont">
                <div class="sub_menu_box">
                    <h2> <a href="../main/adminMain.html">관리자페이지</a></h2>
                    <ul class="sub_menu_mypage">
                        <li>
                            <a href="userList.html">
                                회원관리</a>
                        </li>
                        <li>
                            <a href="../product/productList.html">
                                상품관리</a>
                        </li>
                        <li>
                            <a href="../order/orderList.html">
                                주문관리
                            </a>
                        </li>
                        <li>게시글관리
                            <ul class="sub_depth">
                                <li><a href="../board/board1.html">수상한소식</a> </li>
                                <li><a href="../board/board2.html">수상한마당</a></li>
                                <li><a href="../board/board3.html">우리술칵테일</a></li>
                            </ul>
                        </li>
                        <li><a href="../qa/adminQa.html">
                            고객센터
                        </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- ----------------------------------------- -->
            <div class="content">
                <div>
                    <h3>회원정보수정</h3>
                </div>
                
                <div>
                    <div class="user_detail">
                        <table class="user_table">
                            <colgroup>
                                <col width="25%">
                                <col width="75%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>아이디</th>
                                    <td><input type="text"  name="" value="asdf"></td>
                                </tr>
                                <tr>
                                    <th>이름</th>
                                    <td><input type="text"  name=""></td>
                                </tr>
                                <tr>
                                    <th>닉네임</th>
                                    <td><input type="text"  name=""></td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td><input type="text"  name=""></td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td><input type="text"  name=""></td>
                                </tr>
                                <tr>
                                    <th>휴대폰번호</th>
                                    <td><input type="text"  name=""></td>
                                </tr>
                                <tr>
                                    <th>생년월일</th>
                                    <td><input type="text"  name=""></td>
                                </tr>
                                <tr>
                                    <th>회원등급</th>
                                    <td> <input type="radio" name="chk_category" value="" checked="checked">일반
                                        <input type="radio" name="chk_category" value="">관리자</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button">이전</button>
                    <button type="button">수정</button>
                </div>
              
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/fragments/header.js}"></script>
</body>

</html>