<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>

    <link rel="stylesheet" th:href="@{/css/admin/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/commons/default.css}">
    <link rel="stylesheet" th:href="@{/css/admin/contentLeft.css}">
    <link rel="stylesheet" th:href="@{/css/admin/user/userDetail.css}">
</head>

<body>
<header th:replace="~{/admin/layout/header :: header}"></header>

    <div>
        <div></div>
        <div class="sub_content">
                <!--사이드-->
                <div th:Replace="~{/admin/layout/nav :: sideCont}"></div>

            <!-- ----------------------------------------- -->
            <div class="content">
                <div>
                    <h3>회원정보</h3>
                </div>
                
                <div>
                    <div class="user_detail">
                        <table class="user_table">
                            <colgroup>
                                <col width="25%">
                                <col width="75%">
                            </colgroup>
                            <tbody t>
                                <tr>
                                    <th>아이디</th>
                                    <td th:text="${user.userId}"></td>
                                </tr>
                                <tr>
                                    <th>이름</th>
                                    <td th:text="${user.userName}"></td>
                                </tr>
                                <tr>
                                    <th>닉네임</th>
                                    <td th:text="${user.userNickname}"></td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td th:text="${user.userEmail}"></td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td th:text="${user.userAddress}+ ' ' +${user.userAddressDetail}"></td>
                                </tr>
                                <tr>
                                    <th>휴대폰번호</th>
                                    <td th:text="${user.userCellphoneNumber}"></td>
                                </tr>
                                <tr>
                                    <th>생년월일</th>
                                    <td th:text="${user.userBirth}"></td>
                                </tr>
                                <tr>
                                    <th>회원등급</th>
                                    <td th:if="${user.userGradeNumber==1}">관리자</td>
                                    <td th:if="${user.userGradeNumber==2}">일반 회원</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn_user_prev" type="button">이전</button>
                    <button type="button">수정</button>
                </div>
              
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/admin/user/userDetail.js}"></script>
<script th:src="@{/js/fragments/header.js}"></script>
</body>

</html>