<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>

    <link rel="stylesheet" th:href="@{/css/admin/contentLeft.css}">
    <link rel="stylesheet" th:href="@{/css/admin/user/userList.css}">
</head>

<body>
<header>
    <div class="header_">
        <img src="" alt="">
    </div>
</header>

    <div>
        <div></div>
        <div class="sub_content">
            <div class="side_cont">
                    <!--사이드-->
                <div th:Replace="~{/admin/layout/nav :: sideCont}"></div>
            </div>

            <!-- ----------------------------------------- -->
            <div class="content">

                <div>
                    <h1>회원관리</h1>
                </div>

                <!--검색 창-->
                <div class="user_search">
                    <form action="/user/search">
                        <select name="searchType">
                            <option value="id">아이디</option>
                            <option value="nickname">닉네임</option>
                            <option value="phoneNumber">전화번호</option>
                        </select>
                        <input type="text" name="keyword">
                        <button>검색</button>
                    </form>
                </div>



                <!--유저 리스트-->
                <div>
                    <div class="admin_user_table">
                        <table>
                            <colgroup>
                            <!--아이디 닉네임 전화번호 주소 관리-->
                            <col style="width:15%;">
                            <col style="width:15%;">
                            <col style="width:15%;">
                            <col >
                            <col style="width:15%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>아이디</th>
                                    <th>닉네임</th>
                                    <th>전화번호</th>
                                    <th>주소</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${userList}">
                                    <td th:text="${user.userId}"></td>
                                    <td th:text="${user.userNickname}"></td>
                                    <td th:text="${user.userCellphoneNumber}"></td>
                                    <td th:text="${user.userAddress}+ ' ' +${user.userAddressDetail}"></td>
                                    <td class="wrap_user_button">
                                        <button class="btn_user_detail" type="button" th:data-num="${user.userNumber}">상세</button>
                                        <button class="btn_user_remove" type="button" th:data-num="${user.userNumber}">탈퇴</button>
                                    </td>
                                </tr>                           
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--페이징 처리-->
                <div class="paging" >
                    <div class="pages" th:object="${pageInfo}">

                        <a th:href="@{/user(page=*{startPage - 1})}" class="page-a" th:if="*{prev}">
                            <span class="page-num prev">&lt</span>
                        </a>

                        <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                            <a th:href="@{/user(page=${i})}" class="page-a">
                                <span class="page-num" th:classappend="${i==pageInfo.criteria.page} ? 'active' : '' " th:text="${i}"></span>
                            </a>
                        </th:block>


                        <a th:href="@{/user(page=*{endPage+1})}" class="page-a" th:if="*{next}">
                            <span class="page-num next">&gt</span>
                        </a>

                    </div>
                </div>


            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/admin/user/userList.js}"></script>
</body>

</html>