<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>

    <link rel="stylesheet" th:href="@{/css/admin/contentLeft.css}">
    <link rel="stylesheet" th:href="@{/css/admin/user/user.css}">
</head>

<body>
<header>
    <div class="header_">
        <img src="" alt="">
    </div>
</header>

    <div>
        <div></div>
        <div class="sub_content">
            <div class="side_cont">
                    <!--사이드-->
                <div th:Replace="~{/admin/layout/nav :: sideCont}"></div>
            </div>

            <!-- ----------------------------------------- -->
            <div class="content">
                <div>
                    <h1>회원관리</h1>
                </div>
                <div class="user_search">
                    <select>
                        <option value="id">아이디</option>
                        <option value="nickName">닉네임</option>
                        <option value="phoneNumber">전화번호</option>
                    </select>
                    <input type="text" id="" placeholder>
                    <button >검색</button>
                </div>
                <div>
                    <div class="admin_user_table">
                        <table>
                            <colgroup>
                            <!-- 아이디 닉네임 전화번호 주소 관리(상세 변경 탈퇴)  -->
                            <col style="width:15%;">
                            <col style="width:15%;">
                            <col style="width:15%;">
                            <col >
                            <col style="width:15%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>아이디</th>
                                    <th>닉네임</th>
                                    <th>전화번호</th>
                                    <th>주소</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>asdf</td>
                                    <td>아무무</td>
                                    <td>010-1234-5678</td>
                                    <td>서울특별시 강북구 미아동 머시기 아파트 123동2102호</td>
                                    <td>
                                        <button>상세</button>
                                        <button>탈퇴</button>
                                    </td>
                                </tr>                           
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="paging">
                    <img class="prev_page" src="">
                    <div class="pages">
                    <span class="active">1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                </div>
                    <img class="next_page" src="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>