main{
    margin-bottom: 100px;
}
.order-wrap {
    width: 1200px;
    margin: 0 auto;
}

/* 상단 타이틀 */
.order-title {
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
}

.page-on > span {
    font-weight: bold;
}

.order-title > ol {
    display: flex;
    font-size: 16px;
    color: #d1d1d1;
    font-weight: bold;
    line-height: 62px;

}

.page-on {  /* 현제 페이지 표시 (주문서 작성)*/
    color: var(--strong-color);
}

.order-title > ol img {
    padding: 0 14px;
}

/* 상품 리스트 테이블 */
.order-list > table{
    collapse: collapse;
    border-spacing: 0;
    border: none;
    text-align: center;
    width: 100%;
}
.order-list > table th{
    padding: 9px 10px 10px 10px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #dbdbdb;
    background: #f7f7f7;
    font-family: "Poppins", "Noto Sans KR";
    font-weight: 400;
    font-size: 16px;
}



/* 상품/옵션 정보*/
.product-info{
    text-align: left;
}
.product-info__content{
    display: flex;
}

.product-info__content > span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info img{
    border: 1px solid #dbdbdb;
    vertical-align: middle;
    width: 40px;
}

.product-info__box{
    padding-left: 120px;
    margin: 10px;
}

.product-info__coupon img{
    width: 49px;
}

.product-info__detail{
    color: #333333;
}


/* 상품 금액 */
.product-price__content strong{
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}

/* 할인 */
.product-sale__content strong{
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}

/* 합계금액 */
.product-total-price__content{
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}

/* 배송비 */
.delivery-charge__content{
    font-size: 15px;
}

/*=======상품 리스트 끝======*/

/*장바구니 돌아가기*/
.go-back{
    margin: 10px 0;
    display: inline-block;
    border-bottom: 1px solid #333333;
    /*font-family: ;*/
}

/* 총 가격 */
.cart-total{
    margin: 30px 0 0 0;
    padding: 20px 40px 25px 40px;
    border: 2px solid #d6d6d6;
}

.cart-total__price{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}

.cart-total__price > div{
    margin: 10px 20px;
}

.cart-total__product span,
.cart-total__delivery span,
.cart-total__sum span{
    display: block;
}

.price-color{
    color: var(--main-color);
}


/*주문 동의안*/

.order_agree {
    margin: 30px 0 0 0;;
    padding: 10px 20px 10px 20px;
    border: 1px solid #dbdbdb;
}

.order_zone_tit {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    font-size: 16px;
}

.order_agree h4 {
    margin-top: 0;
}

.order_view_info h4 {
    margin: 50px 0 0 0;
}

.order_zone_tit h4 {
    font-size: 16px;
}
.order_agree_cont .agreement_box {
    overflow-x: hidden;
    overflow-y: auto;
    height: 60px;
    margin: 0 0 10px 0;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-top: 1px solid #999999;
    line-height: 18px;
}

.form_element {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

input[type="checkbox"] {
    position: relative;
    top: 5px;
    width: 13px;
    height: 13px;
    vertical-align: top;
}
.form_element label.check_s {
    min-width: 13px;
    padding: 0 0 0 22px;
    font-size: 12px;
    line-height: 20px;
}
.form_element label {
    position: relative;
    top: 0;
    left: 0px;
    display: inline-block;
    min-width: 100px;
    min-height: 20px;
    padding: 0 10px;
}
.order_agree_cont strong {
    color: rgb(240, 200, 100);
}

/* 주문자/배송지 정보 테이블 스타일*/

.order_info,
.delivery_info,
.payment_info,
.payment_progress{
    margin: 30px 0 0 0;
    padding: 10px 0 0 0;
}

.order_zone_tit {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    font-size: 16px;
}


.order_view_info h4 {
    margin: 50px 0 0 0;
}
.order_zone_tit h4 {
    font-size: 16px;
}
.order_table_type {
    position: relative;
}
.order_table_type .table_left {
    border-top: 1px solid #999999;
}
.order_table_type table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}
.order_cont .table_left th {
    padding: 15px 10px 14px 30px;
}
.order_table_type .table_left th {
    padding: 15px 10px 14px 20px;
    border-top: none 0;
    background: #f7f7f7;
    text-align: left;
}
.order_cont .table_left th {
    padding: 15px 10px 14px 30px;
}
.order_table_type .table_left th {
    padding: 15px 10px 14px 20px;
    border-top: none 0;
    background: #f7f7f7;
    text-align: left;
}
.order_table_type th {
    padding: 9px 10px 10px 10px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #dbdbdb;
    background: #f7f7f7;
}
.order_table_type .table_left td {
    height: 31px;
    padding: 12px 10px 11px 15px;
    text-align: left;
}
.order_table_type .table_left td {
    height: 31px;
    padding: 12px 10px 11px 15px;
    text-align: left;
}
.order_table_type td {
    height: 31px;
    padding: 15px 10px 14px 10px;
    color: #777777;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px dotted #ededed;
    background: #ffffff;
}

.delivery-wrap {
    display: flex;
    justify-content: space-around;
}

.delivery-box {
    border: 1px solid rgb(240,200,100);
    width: 20%;
    height: 20px;
    color: rgb(240,200,100);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.delivery-box:hover {
    background-color: rgb(240,200,100);
    color: white;
}

.checked {
    color: white;
    background-color: rgb(240,200,100);
}

.delivery-box input[type='radio'] {
    position: absolute;
    top: 0;
    left: 11px;
    opacity: 0;
}

/* 최종 가격 */
.cart-final_total{
    margin: 30px 0 0 0;
    padding: 20px 40px 25px 40px;
    border: 2px solid #d6d6d6;
}

.cart-final_total__price{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}

.cart-total__price > div{
    margin: 10px 20px;
}

.cart-final_total__sum span{
    display: block;
}

.final_price-color{
    color: var(--main-color);
    font-size: 30px;
}
/* 주문 동의안*/
.payment_final{
    margin: 3px 0 0 0;
    padding: 3px 0 0 0;
}

.payment_final_check {
    text-align: center;
}
.payment_final .payment_final_check {
    padding: 20px 0 20px 0;
    text-align: center;
}
.form_element {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.payment_final .form_element label.check_s em b {
    color: rgb(240, 200, 100);
}

/* 하단의 버튼 스타일 */
.btn-box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.order-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;

    min-width: 180px;
    height: 55px;
    padding: 0 20px 0 20px;

    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}


.order-btn{
    color: #ffffff;
    border: 1px solid var(--main-color);
    background: var(--main-color);
}

/*결제창*/
.form_card_element {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.form_card_element input {
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
}
.form_card_element label {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    min-width: 100px;
    min-height: 20px;
    padding: 0 10px;
}

.form_card_element input[type='radio'] {
    position: absolute;
    top: 4px;
    left: 2px;
}