main{
    margin-bottom: 100px;
}
.order-wrap {
    width: 1200px;
    margin: 0 auto;
}

/* 상단 타이틀 */
.order-title {
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
}

.page-on > span {
    font-weight: bold;
}

.order-title > ol {
    display: flex;
    font-size: 16px;
    color: #d1d1d1;
    font-weight: bold;
    line-height: 62px;

}

.page-on {  /* 현제 페이지 표시 (주문완료)*/
    color: var(--strong-color);
}

.order-title > ol img {
    padding: 0 14px;
}

/*결제 상태 표시*/
.order_end_completion {
    padding: 40px 0 40px 0;
    text-align: center;
}
.order_end_completion p {
    padding: 15px 0 0 0;
    line-height: 2;
}
.order_end_completion strong {
    font-size: 22px;
}
.order_end_completion em {
    font-size: 14px;
}

/*주문요약 정보*/

.order-end_info{
    margin: 30px 0 0 0;
    padding: 10px 0 0 0;
}

.order_zone_tit {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    font-size: 16px;
}


.order_view_info h4 {
    margin: 50px 0 0 0;
}
.order_zone_tit h4 {
    font-size: 16px;
}
.order_table_type {
    position: relative;
}
.order_table_type .table_left {
    border-top: 1px solid #999999;
}
.order_table_type table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}
.order_cont .table_left th {
    padding: 15px 10px 14px 30px;
}
.order_table_type .table_left th {
    padding: 15px 10px 14px 20px;
    border-top: none 0;
    background: #f7f7f7;
    text-align: left;
}
.order_cont .table_left th {
    padding: 15px 10px 14px 30px;
}
.order_table_type .table_left th {
    padding: 15px 10px 14px 20px;
    border-top: none 0;
    background: #f7f7f7;
    text-align: left;
}
.order_table_type th {
    padding: 9px 10px 10px 10px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #dbdbdb;
    background: #f7f7f7;
}
.order_table_type .table_left td {
    height: 31px;
    padding: 12px 10px 11px 15px;
    text-align: left;
}
.order_table_type .table_left td {
    height: 31px;
    padding: 12px 10px 11px 15px;
    text-align: left;
}
.order_table_type td {
    height: 31px;
    padding: 15px 10px 14px 10px;
    color: #777777;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px dotted #ededed;
    background: #ffffff;
}

/*하단 버튼*/
.btn-box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.order-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;

    min-width: 180px;
    height: 55px;
    padding: 0 20px 0 20px;

    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}


.order-btn{
    color: #ffffff;
    border: 1px solid var(--main-color);
    background: var(--main-color);
}