<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>장바구니</title>
  <link rel="stylesheet" th:href="@{/css/order/cart.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
  <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
  <link rel="stylesheet" th:href="@{/css/commons/default.css}">
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<main>
  <div class="cart-wrap">
    <section class="cart-title">
      <h2>장바구니</h2>
      <ol>
        <li class="page-on">
          <span>01</span> 장바구니
          <span>
            <img
                src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/member/icon_join_step_off.png"
                alt="장바구니완료"/>
          </span>
        </li>
        <li class="page_on">
          <span>02</span> 주문서작성/결제<span>
          <img
              src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/member/icon_join_step_off.png"
              alt="주문서작성/결제완료"/>
        </span>
        </li>
        <li><span>03</span> 주문완료</li>
      </ol>
    </section>
    <!-- /타이틀 섹션 -->

<!-- 상품 목록-->
    <form th:action="@{/order/next}" method="get" id="cart-form">
      <section class="cart-list">
        <table>
          <colgroup>
            <col style="width:3%">  <!-- 체크박스 -->
            <col>          <!-- 상품명/옵션 -->
            <col style="width:15%">  <!-- 수량 -->
            <col style="width:10%"> <!-- 상품금액 -->
            <col style="width:13%"> <!-- 할인/적립 -->
            <col style="width:10%"> <!-- 합계금액 -->
            <col style="width:12%"> <!-- 배송비 -->
          </colgroup>
          <thead>
          <tr>
            <th>
              <div>
                <input type="checkbox" id="check-all" class="check-box" checked="checked">
                <label for="check-all" class="check-box__label check-box__label--checked"></label>
              </div>
            </th>
            <th>상품/옵션 정보</th>
            <th>수량</th>
            <th>상품금액</th>
            <th>할인</th>
            <th>합계금액</th>
            <th>배송비</th>
          </tr>
          </thead>
          <tbody>
          <!--반복 요소-->
          <tr th:each="productDetail : ${cartList}">
            <td>
              <div>
                <input type="checkbox" id="check-item1" class="check-box check-box__children" checked="checked" th:value="${productDetail.productNumber}">
                <label for="check-item1" class="check-box__label check-box__label--checked"></label>
              </div>
            </td>
            <td class="product-info">
              <div class="product-info__content">
              <span>
                <!--상품 주소 연결-->
                <a href="">
                  <!--상품 이미지 연결-->
                  <img th:src="'/upload/' + ${productDetail.productImgMainPath} + '/'
            + ${productDetail.productImgMainUuid} + '_' + ${productDetail.productImgMainName}" alt="">
                </a>
              </span>
                <div class="product-info__box">

                  <!-- 상품 설명 넣기-->
                  <div class="product-info__detail" th:text="${productDetail.productName}+' '+${productDetail.productAlcoholicity}+'도'
              +' '+${productDetail.productNetWeight}+'ml'">
                  </div>
                </div>
              </div>
            </td>
            <td class="product-count">
              <div class="product-count__content">
                <strong><span th:text="${productDetail.productCount}"></span>개</strong>
              </div>
            </td>
            <td class="product-price">
              <div class="product-price__content">
                <!--상품금액 넣기-->
                <strong><span th:with="isEven=${productDetail.productPrice}"
                              th:text="${#numbers.formatInteger(isEven,0,'COMMA')}"></span>원</strong>
              </div>
            </td>
            <td class="product-sale">
              <div class="product-sale__content">
                <!--할인률 넣기-->
                <strong><span th:text="${productDetail.productDiscount}"></span>% 할인</strong>
              </div>
            </td>
            <td class="product-total-price">
              <div class="product-total-price__content">
                <!--합계 금액 넣기-->
                <strong><span th:with="isEven=${productDetail.salePrice}"
                              th:text="${#numbers.formatInteger(isEven,0,'COMMA')}"></span>원</strong>
              </div>
            </td>

            <td class="delivery-charge" rowspan="">
              <div class="delivery-charge__content">
                기본 - 고정배송비<br>
                3,000원
                <br>
                (택배-선결제)
              </div>
            </td>
          </tr>
          <!--/반복 요소-->

          </tbody>
        </table>
      </section>
    <div class="go-back">
      <a th:href="@{/store/list}">
        <span>&lt 쇼핑 계속하기</span>
      </a>
    </div>

    <div class="cart-total">
      <div class="cart-total__price">
        <div class="cart-total__product">
          <span>총 <strong th:text="${totalCount}"></strong>개의 상품금액</span>
          <span class="price-color"><strong th:with="isEven=${salePrice}"
                                            th:text="${#numbers.formatInteger(isEven,0,'COMMA')}"></strong>원</span>
        </div>
        <span class="plus-img">
          <img src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/order/order_price_plus.png" alt="">
        </span>
        <div class="cart-total__delivery">
          <span>배송비</span>
          <span class="price-color"><strong>3,000</strong>원</span>
        </div>
        <span class="equals-img">
          <img src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/order/order_price_total.png" alt="">
        </span>
        <div class="cart-total__sum">
          <span>합계</span>
          <span class="price-color"><strong th:with="isEven=${salePrice + 3000}"
                                            th:text="${#numbers.formatInteger(isEven,0,'COMMA')}"></strong>원</span>
        </div>
      </div>
    </div>

    <div class="btn-box">
      <div class="btn-list--right">
        <button id="allBtn" class="all-order-btn" th:data-num="${session.userNumber}">
          전체 상품 주문
        </button>
      </div>
    </div>
      <th:block th:each="productDetail : ${cartList}">
        <input type="hidden" class="product-num" name="productNumber" th:value="${productDetail.productNumber}">
        <input type="hidden" name="productCount" th:value="${productDetail.productCount}">
      </th:block>
    </form>
  </div>
</main>

<footer th:replace="~{/fragments/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script th:src="@{/js/fragments/header.js}"></script>
<script th:src="@{/js/order/cart.js}"></script>
</body>
</html>