<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/order/order.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
    <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/commons/default.css}">
    <title>바로구매</title>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>
<main>
    <div class="order-wrap">

        <section class="order-title">
            <h2>주문서 작성/결제</h2>
            <ol>
                <li>
                    <span>01</span> 장바구니
                    <span>
            <img
                    src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/member/icon_join_step_off.png"
                    alt="장바구니완료"/>
          </span>
                </li>
                <li class="page-on">
                    <span>02</span> 주문서작성/결제<span>
          <img
                  src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/member/icon_join_step_off.png"
                  alt="주문서작성/결제완료"/>
        </span>
                </li>
                <li><span>03</span> 주문완료</li>
            </ol>
        </section> <!-- /타이틀 섹션 -->

        <form action="">
            <section class="order-list">
                <table>
                    <colgroup>

                        <col>          <!-- 상품명/옵션 -->
                        <col style="width:15%">  <!-- 수량 -->
                        <col style="width:10%"> <!-- 상품금액 -->
                        <col style="width:13%"> <!-- 할인/적립 -->
                        <col style="width:10%"> <!-- 합계금액 -->
                        <col style="width:12%"> <!-- 배송비 -->
                    </colgroup>
                    <thead>
                    <tr>
                        <th>상품/옵션 정보</th>
                        <th>수량</th>
                        <th>상품금액</th>
                        <th>할인</th>
                        <th>합계금액</th>
                        <th>배송비</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--반복 요소-->
                    <tr>
                        <td class="product-info">
                            <div class="product-info__content">
              <span>
                <!--상품 주소 연결-->
                <a href="">
                  <!--상품 이미지 연결-->
                  <img th:src="'/upload/' + ${productDetail.productImgMainPath} + '/'
            + ${productDetail.productImgMainUuid} + '_' + ${productDetail.productImgMainName}" alt="">
                </a>
              </span>
                                <div class="product-info__box">
                                    <!-- 상품 설명 넣기-->
                                    <div class="product-info__detail" th:text="${productDetail.productName}+' '+${productDetail.productAlcoholicity}+'도'
              +' '+${productDetail.productNetWeight}+'ml'">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="product-count">
                            <div class="product-count__content">
                                <strong><span class="product-count" th:text="${productCount}"></span>개</strong>

                            </div>
                        </td>
                        <td class="product-price">
                            <div class="product-price__content">
                                <!--상품금액 넣기-->
                                <strong><span th:with="isEven=${productDetail.productPrice}"
                                              th:text="${#numbers.formatInteger(isEven,0,'COMMA')}"></span>원</strong>
                            </div>
                        </td>
                        <td class="product-sale">
                            <div class="product-sale__content">
                                <!--할인률 넣기-->
                                <strong><span th:text="${productDetail.productDiscount}"></span>% 할인</strong>
                            </div>
                        </td>
                        <td class="product-total-price">
                            <div class="product-total-price__content">
                                <!--합계 금액 넣기-->
                                <strong><span th:with="isEven=${totalPrice - (totalPrice * (productDetail.productDiscount/100.0))}"
                                              th:text="${#numbers.formatInteger(isEven,0,'COMMA')}" ></span>원</strong>
                            </div>
                        </td>
                        <!-- 전체 리스트 사이즈를 rowspan에 넣기-->
                        <td class="delivery-charge" rowspan="">
                            <div class="delivery-charge__content">
                                기본 - 고정배송비<br>
                                3,000원
                                <br>
                                (택배-선결제)
                            </div>
                        </td>
                    </tr>
                    <!--/반복 요소-->

                    </tbody>
                </table>
            </section>
        </form>


        <div class="go-back">
            <a href="">
                <span>&lt 장바구니 가기</span>
            </a>
        </div>


        <!-- 상품 합계가격-->
        <div class="cart-total">
            <div class="cart-total__price">
                <div class="cart-total__product">
                    <span>총 <strong th:text="${productCount}"></strong>개의 상품금액</span>
                    <span class="price-color"><strong th:with="isEven=${totalPrice - (totalPrice * (productDetail.productDiscount/100.0))}"
                                              th:text="${#numbers.formatInteger(isEven,0,'COMMA')}"></strong>원</span>
                </div>
                <span class="plus-img">
          <img src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/order/order_price_plus.png" alt="">
        </span>
                <div class="cart-total__delivery">
                    <span>배송비</span>
                    <span class="price-color"><strong>3,000</strong>원</span>
                </div>
                <span class="equals-img">
          <img src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/order/order_price_total.png" alt="">
        </span>
                <div class="cart-total__sum">
                    <span>합계</span>
                    <span class="price-color"><strong th:with="isEven=${(totalPrice - (totalPrice * (productDetail.productDiscount/100.0)))+2500}"
                                                      th:text="${#numbers.formatInteger(isEven,0,'COMMA')}"></strong>원</span>
                </div>
            </div>
        </div>
        <!--    상품 가격 끝-->

        <!--    주문 동의안-->
        <div class="order_agree">

            <div class="order_zone_tit">
                <h4>상품 공급사 개인정보 제공 동의</h4>
            </div>

            <div class="order_agree_cont">

                <div class="join_agreement_box">

                    <div class="agreement_box">
                        - 제공받는 자 : 농업회사법인 우리도가 서울지점
                        공급사<br />
                        - 이용목적 : 상품 및 경품(서비스) 배송(전송), 반품,
                        환불, 고객상담 등 정보통신서비스제공계약 및
                        전자상거래(통신판매)계약의 이행을 위해 필요한 업무의
                        처리<br />
                        - 수집항목 : 구매자정보(닉네임, 이름, 휴대전화 번호,
                        이메일주소), 수령인정보(이름, 휴대전화 번호, 수령인
                        주소), 상품 구매, 취소, 반품, 교환정보, 송장정보<br />
                        - 보유 / 이용기간 : 상품 제공 완료 후 3개월
                    </div>

                    <!-- //agreement_box -->
                    <div class="form_element">

                        <input type="checkbox" id="check-item1" class="check-box check-box__children">
                        <label for="check-item1" class="check-box__label check-box__label--checked"><strong>(필수)</strong> 상품 공급사 개인정보 제공
                            동의에 대한 내용을 확인 하였으며 이에 동의
                            합니다.</label>
                    </div>

                </div>

            </div>
        </div>
        <!--    개인정보 동의 끝-->
        <div class="order_form-wrap">
            <form class="new-order-form">
        <!--   주문자 정보 -->
        <div class="order_info">
            <div class="order_zone_tit">
                <h4>주문자 정보</h4>
            </div>

            <div class="order_table_type">
                <table class="table_left">
                    <colgroup>
                        <col style="width: 15%" />
                        <col style="width: 85%" />
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">
                            <span class="important">주문하시는 분</span>
                        </th>
                        <td>
                            <input
                                    type="text"
                                    name="userName"
                                    id="orderName"
                                    maxlength="20"
                                    th:value="${orderUInfo.userName}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">전화번호</th>
                        <td>
                            <input
                                    type="text"
                                    name="userPhone"
                                    id="orderPhoneNumber"
                                    th:value="${orderUInfo.userPhoneNumber}"
                                    maxlength="20"
                            />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span class="important">휴대폰 번호</span>
                        </th>
                        <td>
                            <input
                                    type="text"
                                    name="userCellPhone"
                                    id="orderCellPhoneNumber"
                                    th:value="${orderUInfo.userCellphoneNumber}"
                                    maxlength="20"
                            />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span class="important">이메일</span>
                        </th>
                        <td class="user_email">
                            <input type="text" name="orderEmail" id="orderEmail" th:value="${orderUInfo.userEmail}" />

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
            </form>
        <!-- 주문자 정보 끝 -->

        <!--    배송지 정보-->
        <div class="delivery_info">
            <div class="order_zone_tit">
                <h4>배송정보</h4>
            </div>
            <form class="delivery-info-form">
                <div class="order_table_type shipping_info">

                    <table class="table_left shipping_info_table">
                        <colgroup>
                            <col style="width: 15%" />
                            <col style="width: 85%" />
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">배송지 확인</th>
                            <td>
                                <div class="form_element">

                                    <div class="delivery-wrap">
                                        <label for="shippingBasic" class="delivery-box basic">
                                            <span>기본 배송지</span>
                                            <input type="radio" id="shippingBasic" name="addressDefault" value="1" />
                                        </label>
                                        <label for="shippingNew" class="delivery-box new">
                                            <span>직접 입력</span>
                                            <input type="radio" id="shippingNew" name="addressDefault" value="2" />
                                        </label>
                                    </div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <span class="important">받으실 분</span>
                            </th>
                            <td>
                                <input
                                        type="text"
                                        name="receiverName"
                                        id="receiverName"
                                        maxlength="20"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <span class="important">받으실 곳</span>
                            </th>
                            <td class="member_address">
                                <div class="address_postcode">

                                    <input type="text" id="zipcode" placeholder="우편번호">
                                    <input type="button" onclick="searchAddress()" value="우편번호 찾기"><br>

                                </div>
                                <div class="address_input">
                                    <input
                                            type="text"
                                            name="orderAddress"
                                            id="address"
                                            placeholder="주소"
                                    />
                                    <input
                                            type="text"
                                            name="orderAddressDetail"
                                            id="addressDetail" placeholder="상세주소"
                                    />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">전화번호</th>
                            <td>
                                <input
                                        type="text"
                                         id="receiverPhone"
                                        name="receiverPhone"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <span class="important">휴대폰 번호</span>
                            </th>
                            <td>
                                <input
                                        type="text"
                                        id="receiverCellPhone"
                                        name="receiverCellPhone"
                                />
                            </td>
                        </tr>



                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <!-- 배송지 정보 끝-->

        <!--    결제 정보-->
        <div class="payment_info">
            <div class="order_zone_tit">
                <h4>결제정보</h4>
            </div>

            <div class="order_table_type">
                <table class="table_left">
                    <colgroup>
                        <col style="width: 15%" />
                        <col style="width: 85%" />
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">상품 합계 금액</th>
                        <td>
                            <strong
                                    id="totalGoodsPrice"
                                    class="order_payment_sum pricebasic"
                                    th:with="isEven=${totalPrice - (totalPrice * (productDetail.productDiscount/100.0))}"
                                    th:text="${#numbers.formatInteger(isEven,0,'COMMA')}"
                            ></strong
                            >
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">배송비</th>
                        <td>
                            <span id="totalDeliveryCharge">3,000</span>원
                        </td>
                    </tr>


                    <tr>
                        <th scope="row">할인</th>
                        <td>
                            <ul class="order_benefit_list">
                                <li class="order_benefit_sale">
                                    <em id="saleDefault">
                                        할인 :
                                        <strong
                                        >(-)
                                            <b class="total-goods-dc-price" th:with="isEven=${(totalPrice * (productDetail.productDiscount/100.0))}"
                                               th:text="${#numbers.formatInteger(isEven,0,'COMMA')}"></b
                                            >원</strong
                                        >
                                        <span
                                        >( 상품
                                        <span class="goods-dc-price" th:with="isEven=${(totalPrice * (productDetail.productDiscount/100.0))}"
                                              th:text="${#numbers.formatInteger(isEven,0,'COMMA')}"></span>원)</span
                                        >
                                    </em>
                                </li>

                            </ul>
                        </td>
                    </tr>


                    <tr>
                        <th scope="row">최종 결제 금액</th>
                        <td>
                            <strong
                                    id="totalSettlePrice"
                                    class="order_payment_sum final"
                                    th:text="${#numbers.formatInteger(paymentTotal,0,'COMMA')}" ></strong
                            >원
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 결제 정보 끝-->

        <!--    결제 수단-->

        <div class="payment_progress">
            <div class="order_zone_tit">
                <h4>결제수단 선택 / 결제</h4>
            </div>

            <div class="order_table_type shipping_info">
                <table class="table_left shipping_info_table">
                    <colgroup>
                        <col style="width: 15%" />
                        <col style="width: 85%" />
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">일반결제</th>
                        <td>
                            <div class="form_card_element">
                                <ul>
                                    <li>
                                        <input
                                                type="radio"
                                                name="card"
                                                id="card"
                                        />
                                        <label
                                                for="card"
                                                class="card on"
                                        >신용카드</label
                                        >
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--    신용카드 결제 끝-->

        <!--    최종 결제금액-->
        <div class="cart-final_total">
            <div class="cart-final_total__price">
                <div class="cart-final_total__sum">
                    <span>최종 결제 금액</span>
                    <span class="final_price-color"><strong th:text="${#numbers.formatInteger(paymentTotal,0,'COMMA')}"></strong>원</span>
                    <input type="hidden" class="price_total" name="paymentTotal" th:value="${paymentTotal}">
                </div>
            </div>
        </div>

        <!--    주문 동의안-->
        <div class="payment_final">
            <div class="payment_final_check">
                <div class="form_element">
                    <input
                            type="checkbox"
                            id="termAgree_orderCheck"
                            class="require"
                    />
                    <label for="termAgree_orderCheck" class="check_s"
                    ><em
                    ><b>(필수)</b> 구매하실 상품의 결제정보를
                        확인하였으며, 구매진행에 동의합니다.</em
                    ></label
                    >
                </div>
            </div>

            <!--          하단 버튼-->

            <div class="btn-box">
                <input type="hidden" class="product_number" name="productNumber" th:value="${productDetail.productNumber}">
                <button type="button" class="order-btn" id="order-btn">결제하기</button>
            </div>


        </div>
<!--            주문 하단 버튼-->


        </div>
<!--        주문서 작성 끝-->

</main>

<footer th:replace="~{/fragments/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/fragments/header.js}"></script>
<script th:src="@{/js/order/order.js}"></script>
</body>
</html>