<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.jumak.domain.dto.product.ProductDto" alias="productDto"/>
        <typeAlias type="com.example.jumak.domain.dto.product.ProductImgMainDto" alias="productImgMainDto"/>
        <typeAlias type="com.example.jumak.domain.dto.product.ProductCategoryDto" alias="productCategoryDto"/>
        <typeAlias type="com.example.jumak.domain.dto.product.ProductImgDto" alias="productImgDto"/>


        <typeAlias type="com.example.jumak.domain.vo.product.ProductVo" alias="productVo"/>
        <typeAlias type="com.example.jumak.domain.vo.product.Criteria" alias="criteria"/>
        
        <typeAlias type="com.example.jumak.domain.dto.user.UserDto" alias="userDto"/>
         <typeAlias type="com.example.jumak.domain.dto.product.SearchUserDTO" alias="searchUserDTO" />
    </typeAliases>
</configuration>
