<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.example.jumak.domain.dto.user.UserDto" alias="userDto"/>
        <typeAlias type="com.example.jumak.domain.dto.product.ProductDto" alias="productDto"/>

        <typeAlias type="com.example.jumak.domain.vo.admin.SearchVo" alias="searchVo"/>
        <typeAlias type="com.example.jumak.domain.vo.admin.ProductVo" alias="productVo"/>
    </typeAliases>
</configuration>
