<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header" class="header">
    <nav class="nav">
        <h1>
            <a href="/">
                <img th:src="@{/imgs/main/logo/jumak_main_logo.png}"
                     style="width: 150px"
                     alt="">
            </a>
        </h1>

        <ul>

            <li>
                <a th:href="@{/product/list}">
                    수상한 소식
                </a>
                <ul class="header__sub-menu header--none">
                    <li>
                        <a th:href="@{/product/list}">
                            우리술 전체보기
                        </a>
                    </li>
                </ul>
            </li>



            <li>
                <a th:href="@{/find}">
                    수상한 정보
                </a>
                <ul class="header__sub-menu header--none">
                    <li>
                        <a th:href="@{/find}">
                            나에게 맞는 술찾기
                        </a></li>
                </ul>
            </li>

            <li>
                <a th:href="@{/madang/list}">
                    수상한 마당
                </a>
                <ul class="header__sub-menu header--none">
                    <li>
                        <a th:href="@{/madang/list}">
                            수상한 마당
                        </a>
                    </li>
                </ul>
            </li>



            <li>
                <a th:href="@{/store/list}">
                    주모's store
                </a>
                <ul class="header__sub-menu header__sub-market header--none">
                    <li>
                        <a th:href="@{/store/list}">
                            베스트 상품🏆
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/store/list?orderCond=date&cate=all}">
                            전체상품
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/store/list?orderCond=date&cate=group1}">
                            막걸리/탁주
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/store/list?orderCond=date&cate=group2}">
                            증류주/리큐르
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/store/list?orderCond=date&cate=group3}">
                            약주/청주
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/store/list?orderCond=date&cate=group4}">
                            와인/과실주
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/store/list?orderCond=date&cate=group5}">
                            기타주류/기타
                        </a>
                    </li>
                </ul>
            </li>


        </ul>
        <div class="icon-box">
            <div class="search-icon-box icon-box">
                <img th:src="@{/imgs/main/icon/ico_top_search.png}" alt="">
            </div>
            <div class="login-icon-box icon-box" th:classappend="${session.userNumber != null ? 'header--none' : ''}">
                <img th:src="@{/imgs/main/icon/ico_top_user.png}" alt="">
                <div class="user-box header--none">
                    <div>
                        <a th:href="@{/user/login}">로그인</a>
                    </div>
                    <div>
                        <a th:href="@{/user/join/agree}">회원가입</a>
                    </div>
                </div>
            </div>
            <div class="header__login-info" th:classappend="${session.userNumber == null ? 'header--none' : ''}">
                <a th:href="@{/mypage/main}">
                    <span class="header__user-info" th:text="${session.userNickname}"></span>
                </a>
                <a th:href="@{/user/logout}">
                    <span class="header__user-info">로그아웃</span>
                </a>
            </div>
        </div>
        <div class="sub-menu__bg header--none"></div>
    </nav>

    <article class="header__search-top-menu header--none">
        <!--    검색 url 넣기 -->
        <!--    submit버튼으로 처리함-->
        <form action="/search" method="get">
            <div class="header__search-top-box">
                <div class="header__search__x-btn">
                    <img th:src="@{/imgs/main/icon/ico_top_close.png}" alt="">
                </div>
                <div class="header__search__keyword-box">
                    <input type="text" name="keyword" class="header__input-keyword">
                    <button class="header__search__icon">
                        <img th:src="@{/imgs/main/icon/ico_top_search.png}" alt="">
                    </button>
                </div>
            </div>
        </form>
    </article>
</header>
</body>
</html>