<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="sideCont" class="side_cont">
  <div class="sub_menu_box">
    <h2> <a>관리자페이지</a></h2>
    <ul class="sub_menu_mypage">
      <li>
        <a th:href="@{/admin/user}">
          회원관리</a>
      </li>
      <li>
        <a th:href="@{/admin/product}">
          상품관리</a>
      </li>
      <li>
        <a th:href="@{/admin/order}">
          주문관리
        </a>
      </li>
      <li><a th:href="@{/admin/qa}">
        고객센터
      </a>
      </li>
    </ul>
  </div>
</div>

</body>