<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" th:href="@{/css/commons/default.css}">
  <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
  <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}">

</head>
<body>
<div class="wrap">
  <header th:replace="~{/fragments/header :: header}"></header>
  <section class="banner-section">
    <div class="banner-box">
      <ul class="banner-ul">
        <li>
          <img th:src="@{/imgs/main/banner/main_banner01.jpg}"/>
        </li>

        <li>
          <img th:src="@{/imgs/main/banner/main_banner02.jpg}"/>
        </li>
        <li>
          <img th:src="@{/imgs/main/banner/main_banner03.jpg}"/>
        </li>
        <li>
          <img th:src="@{/imgs/main/banner/main_banner04.jpg}"/>
        </li>
      </ul>
    </div>
  </section>
  <main>
    <div class="main__content-wrap">
      <div class="top-box">


        <section class="news">
          <div class="section-head">
            <div class="section-head__title">
              양조장 탐방기
            </div>
            <div class="section-head__more">
              <a href=""><!-- 뉴스 더 보기 링크 설정하기 -->
                <span>+</span>
                <span>more</span>
              </a>
            </div>
          </div>
          <div class="news__content-box">
            <!-- 아이템 반복요소 샘플 (4개만 넣기)-->
            <article class="news__item" th:each="brewery : ${breweryList}">
              <a href=""> <!--아이템 링크 설정하기-->
                <div class="news__img-box">
                  <img th:src="'/upload/' + ${brewery.newsImgPath} + '/' + ${brewery.newsImgUuid} + '_' + ${brewery.newsImgName}" alt="">
                </div>
                <div class="news__info">
                  <p th:text="${brewery.newsTitle}"></p>
                </div>
              </a>
            </article>

          </div>
        </section>


        <section class="madang">
          <div class="section-head">
            <div class="section-head__title">
              베스트 상품
            </div>
            <div class="section-head__more">
              <a href=""><!-- 마당 더 보기 링크 설정하기 -->
                <span>+</span>
                <span>more</span>
              </a>
            </div>
          </div>
          <div class="madang__content-box">
            <ul class="madang__list-ul" th:each="madang : ${madangList}">
              <!-- li 반복 요소 샘플-->
              <li>
                <a href=""> <!--바로가기 링크-->
                  <div class="madang__img-box">
                    <img th:if="${madang.madangImgPath != null}" th:src="'/upload/' + ${madang.madangImgPath} + '/' + ${madang.madangImgUuid} + '_' + ${madang.madangImgName}" alt="">
                    <img th:unless="${madang.madangImgPath != null}" src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/commonimg/re_pc_no_image.jpg" alt="">
                  </div>
                  <div class="madang__info">
                    <span th:text="${madang.madangCategoryName}"></span>
                    <p th:text="${madang.madangTitle}"></p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </section>

      </div>
      <section class="middle-banner-box">
        <a href=""> <!-- 링크, 이미지 설정-->
          <img src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/pub/images/main/worldcup.jpg" alt="">
        </a>
      </section>



      <div class="middle-box">
        <section class="monthly-sul">
          <div class="section-head">
            <div class="section-head__title">
              이달의 술 <!-- 문구 수정하기 -->
            </div>
            <div class="section-head__more">
              <a href=""><!-- 더 보기 링크 설정하기 -->
                <span>+</span>
                <span>more</span>
              </a>
            </div>
          </div>
          <div class="monthly-sul__content-box">
            <a href=""></a> <!--여기에 링크 설정(위치 변경X)-->
            <img src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/pub/images/main/monthly_paiksool_v231204.jpg" alt="">
            <div class="monthly-sul__text-box">
              <span>이달의 술</span>
              <p>선산 스위트와 함께 <br> 달콤한 겨울을 즐겨보세요</p>
            </div>

          </div>
        </section>

        <section class="store-direct">
          <div class="section-head">
            <div class="section-head__title">
              장터 직행템🚕 <!-- 문구 수정하기 -->
            </div>
            <div class="section-head__more">
            </div>
          </div>

          <div class="store-direct__content-box">
            <img src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/pub/images/main/sool_item_v231218.jpg" alt="">
          </div>
        </section>

      </div>
      <section class="find-sul-banner">
        <a href=""> <!--링크 설정하기-->
          <img src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/pub/images/main/find.jpg" alt="">
        </a>
      </section>
    </div>
  </main>
</div>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script th:src="@{/js/fragments/header.js}"></script>
</body>
</html>