<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" th:href="@{/css/main/main.css}">
</head>
<body>
<div class="wrap">
  <header>
    <nav>
      <h1>
        <a href="/">
          <img
              src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/pub/images/common/logo.png"
              alt="">
        </a>
      </h1>

      <ul>
        <li>우리술 정보&리뷰</li>
        <li>백술 NEWS</li>
        <li>우리술 빚기</li>
        <li>커뮤니티</li>
        <li>우리술 장터</li>
      </ul>
      <div class="icon-box">
        <div class="search-icon-box icon-box">
          <img th:src="@{/imgs/main/ico_top_search.png}" alt="">
        </div>
        <div class="cart-icon-box icon-box">
          <img th:src="@{/imgs/main/ico_top_cart.png}" alt="">
        </div>
        <div class="login-icon-box icon-box">
          <img th:src="@{/imgs/main/ico_top_user.png}" alt="">
        </div>
      </div>
    </nav>
  </header>
  <main></main>
  <footer></footer>
</div>
</body>
</html>







