<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/commons/default.css}">
    <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/main/main.css}" />
  </head>
  </header>
  <body>
    <header th:replace="~{/fragments/header :: header}"></header>
    <div class="my_page">
      <!-- 사이드 메뉴 시작 -->
      <div class="sub_menu_box">
        <div class="sub_menu_content">
          <h2>마이페이지</h2>
          <ul class="sub_menu_list">
            <li>
              <h2>쇼핑정보</h2>
              <ul class="sub_menu_samll_list">
                <li>
                  <a href="/mypage/search-shipping">- 주문목록/배송조회</a>
                </li>
                <li>
                  <a href="/mypage/cancel-shipping">- 취소/반품/교환 내역</a>
                </li>
                <li>
                  <a href="/mypage/refund-shipping">- 환불/입금 내역</a>
                </li>
              </ul>
            </li>
            <li>
              <h2>고객샌터</h2>
              <ul class="sub_menu_samll_list">
                <li>
                  <a href="/mypage/inquiry">- 1:1 문의</a>
                </li>
              </ul>
            </li>
            <li>
              <h2>회원정보</h2>
              <ul class="sub_menu_samll_list">
                <li>
                  <a href="/mypage/member-info">- 회원정보 변경</a>
                </li>
                <li>
                  <a href="/mypage/member-delete">- 회원 탈퇴</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- 사이드 메뉴 끝 -->
      <!-- 메인 시작 -->
      <div class="mypage_main_box">
        <div class="mypage_main_content_box_1">
          <!-- 유저 등급 -->
          <div class="mypage_main_content_box_user_grade">
            <div class="mypage_main_content_box_user_grade_1">
              <p th:text="${userName} + ' 님의'"></p>
              <p>회원등급은 일반회원등급 입니다.</p>
              <span>
                <select name="" id="">
                  <option value="">등급해택보기</option>
                </select>
              </span>
            </div>
            <div class="mypage_main_content_box_user_grade_2">
              <span>
                <img
                  src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/icon/mypage/icon_balance.png"
                  alt="작성글"
                />
              </span>
              <span class="board_comment">
                <em>작성글 / 댓글</em>
                <a href="" class="user_comment">
                  <strong th:text="${boardCount} + '/' + ${replyCount}"></strong>
                </a>
              </span>
            </div>
          </div>
          <!-- 진행주문 타이틀 시작-->
          <div class="shipping_title">
            <h3>
              진행 중인 주문
              <span class="shipping_title_1">최근 30일 내에 진행중인 주문정보입니다.</span>
            </h3>
          </div>
          <!-- 진행주문 타이틀 끝-->
          <!-- 진행주문상태-->
          <div class="shipping_order_box">
            <ol class="shipping_order_list">
              <li th:each="orderStatusVo : ${statusList}">
                <th:block th:switch="${orderStatusVo.orderStatusNumber}" >
                  <b th:case="1">입금대기</b>
                  <b th:case="2">결제완료</b>
                  <b th:case="3">상품준비중</b>
                  <b th:case="4">배송중</b>
                  <b th:case="5">배송완료</b>
                  <b th:case="6">구매확정</b>
                </th:block>
                <strong th:text="${orderStatusVo.count}"></strong>
              </li>
            </ol>
            <div class="shipping_order_state">
              <ul class="shipping_order_state_content">
                  <th:block th:each="orderStatusVo : ${cancelList}">
                      <input type="hidden" th:name="${orderStatusVo.orderStatusNumber}" th:value="${orderStatusVo.count}">
                  </th:block>
                <li>
                  <b>• 취소</b>
                    <span><span class="cancel_count"></span>건</span>
                </li>
                <li>
                  <b>• 교환</b>
                  <span><span class="change_count"></span>건</span>
                </li>
                <li>
                  <b>• 반품</b>
                  <span><span class="return_count"></span>건</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="shipping_title">
            <h3>
              최근 주문 정보
              <span class="shipping_title_1">최근 30일 내에 주문하신 내역입니다.</span>
            </h3>
          </div>
          <!-- 진행주문상태 끝-->
          <!-- 진행주문상태 리스트-->
          <div class="recent_order_details">
            <table>
              <colgroup>
                <col style="width: 183px;">
                <col style="width: 263px;">
                <col style="width: 200px;">
                <col style="width: 183px;">
                <col style="width: 183px;">
              </colgroup>
              <thead>
                <tr>
                  <th>날짜/주문번호</th>
                  <th>상품명</th>
                  <th>상품금액/수량</th>
                  <th>주문상태</th>
                  <th>확인/리뷰</th>
                </tr>
              </thead>
              <tbody class="order_list_table">
              <th:block th:each="orderDetailVo : ${orderDetailList}">
                <tr class="order_list_table_1">
                    <td th:text="${orderDetailVo.orderDate} + '/' + ${orderDetailVo.orderNumber}"></td>
                    <td th:text="${orderDetailVo.productName}"></td>
                    <td th:text="${orderDetailVo.productPrice} + '/' + ${orderDetailVo.orderDetailCount}"></td>
                    <td th:text="${orderDetailVo.orderStatusName}"></td>
                    <td th:text="${orderDetailVo.reviewCount}"></td>
<!--                  <th:block th:if="${orderDetailVo.orderReviewCount == 0}">-->
<!--                    <td th:text="'없음'" class="order_detail"></td>-->
<!--                  </th:block>-->
<!--                  <th:block th:unless="${orderDetailVo.orderReviewCount == 0}">-->
<!--                    <td th:text="${orderDetailVo.orderReviewCount}" class="order_detail"></td>-->
<!--                  </th:block>-->
                </tr>
              </th:block>
              </tbody>
            </table>
          </div>
          <!-- 진행주문상태 리스트 끝-->
          <!-- 최근 본상품 타이틀-->
          <div class="shipping_title">
            <h3>
              최근 본 상품
              <span class="shipping_title_1">유지수님꼐서 본 최근 상품입니다.</span>
            </h3>
          </div>
          <!-- 최근 본상품 타이틀 끝-->
          <!-- 최근 본상품-->
          <div class="show_product">
             <ul class="show_product_list">
              <li class="product_list">
                <a href="../goods/goods_view.php?goodsNo=100004711">
                  <div class="box_img">
                    <img src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/goods/23/11/48/100004711/100004711_detail_05.jpg">
                  </div>
                  <div class="txt_box">
                    <div class="pro_info_wrap">
                    </div>
                    <p class="name ellipsis">
                      오연가 오연 25도 360ml 홍시증류주
                    </p>
                    <p class="price_box">
                      <span>11,400원</span>
                      <del>12,000원</del>
                    </p>
                  </div>
                </a>
              </li>
             </ul>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="~{/fragments/footer :: footer}"></footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script th:src="@{/js/mypage/main/main.js}"></script>
  <script th:src="@{/js/fragments/header.js}"></script>
</html>
