<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>

    <link rel="stylesheet" th:href="@{/css/admin/contentLeft.css}">
    <link rel="stylesheet" th:href="@{/css/admin/qa/adminQaDetail.css}">
</head>

<body>
    <header>
        <div class="header_">
            <img src="" alt="">
        </div>
    </header>
    <div>
        <div></div>
        <div class="sub_content">
            <!--사이드-->
            <div th:replace="~{/admin/layout/nav :: sideCont}"></div>

            <!-- ----------------------------------------- -->
            <div class="content">
                <div>
                    <h3>1:1문의</h3>
                </div>
                <div>
                    <table class="qa_table">
                        <colgroup>
                            <col style="width:15%;">
                            <col style="width:85%;">
                            
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>카테고리</th>
                                <td th:text="${qaDetail.qaCategoryName}"></td>
                            </tr>
                            <tr>
                                <th>작성자</th>
                                <td th:text="${qaDetail.userName}"></td>
                            </tr>
                            <tr>
                                <th>작성일</th>
                                <td th:text="${qaDetail.qaDate}"></td>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <td th:text="${qaDetail.qaTitle}"></td>
                            </tr>
                            <tr class="qa_content">
                                <th>본문</th>
                                <td th:text="${qaDetail.qaContent}"></td>
                            </tr>
                            <tr>
                                <th>첨부파일</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>답변</th>
                                <td th:text="${qaDetail.qaReply}"></td>
                            </tr>
                        </tbody>
                    </table>                   
                    <br>

                        <button type="button">이전</button>
                        <button class="qa_reply"type="button" th:data-num="${qaDetail.qaNumber}">답변</button>
                   
                </div>
                <div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script th:src="@{/js/admin/qa/adminQaDetail.js}"></script>
</body>

</html>