<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jumak.mapper.product.ProductReviewMapper">

<!--    리뷰 조회-->
    <select id="reviewList" parameterType="int" resultType="productReviewVo">
        SELECT PRODUCT_REVIEW_NUMBER, PRODUCT_REVIEW_TITLE, PRODUCT_REVIEW_CONTENT,
               PRODUCT_REVIEW_SCORE, PRODUCT_REVIEW_DATE, R.USER_NUMBER, R.PRODUCT_NUMBER,
               U.USER_NICKNAME
        FROM JUMAK_PRODUCT_REVIEW R JOIN JUMAK_USER U ON R.USER_NUMBER = U.USER_NUMBER
        WHERE PRODUCT_NUMBER=#{productNumber}
    </select>

<!--    리뷰 작성-->
    <insert id="reviewWrite" parameterType="productReviewVo">
        <selectKey keyProperty="productReviewNumber" order="BEFORE" resultType="long">

        </selectKey>
       INSERT INTO JUMAK_PRODUCT_REVIEW (PRODUCT_REVIEW_NUMBER, PRODUCT_REVIEW_TITLE, PRODUCT_REVIEW_CONTENT,
                                          PRODUCT_REVIEW_SCORE, PRODUCT_REVIEW_DATE, USER_NUMBER, PRODUCT_NUMBER)
        VALUES (#{productReviewNumber},#{productReviewTitle},#{productReviewContent},{productReviewScore},
                #{productReviewDate},#{userNumber},#{productNumber})
    </insert>

<!--    리뷰 수정-->
    <update id="reviewModify" parameterType="productReviewVo">
        UPDATE JUMAK_PRODUCT_REVIEW
        SET PRODUCT_REVIEW_CONTENT =#{productReviewContent}
        WHERE PRODUCT_NUMBER=#{productNumber} and PRODUCT_REVIEW_NUMBER=#{productReviewNumber}
    </update>

<!--    리뷰 삭제-->
    <delete id="reviewDelete" parameterType="productReviewVo">
        DELETE FROM JUMAK_PRODUCT_REVIEW
        WHERE PRODUCT_NUMBER=#{productNumber} and PRODUCT_REVIEW_NUMBER=#{productReviewNumber}
    </delete>



</mapper>