<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jumak.mapper.product.ProductMapper">

<!--우리술 메인화면-->
<select id="selectGroup" resultType="productInfoVo">
    SELECT ROWNUM RNUM,P.PRODUCT_NUMBER,P.PRODUCT_CATEGORY_NUMBER,P.PRODUCT_NAME,
    P.PRODUCT_SUBTITLE,P.PRODUCT_DESCRIPTION,P.PRODUCT_PRICE,P.PRODUCT_SALES,
    P.PRODUCT_RELEASE_DATE,PRODUCT_IMG_MAIN_NUMBER,PRODUCT_IMG_MAIN_NAME,PRODUCT_IMG_MAIN_PATH,
    PRODUCT_IMG_MAIN_UUID
    FROM (
        SELECT P.PRODUCT_NUMBER,P.PRODUCT_CATEGORY_NUMBER,P.PRODUCT_NAME,P.PRODUCT_SUBTITLE,
        P.PRODUCT_DESCRIPTION,P.PRODUCT_PRICE,P.PRODUCT_SALES,P.PRODUCT_RELEASE_DATE,
        JPI.PRODUCT_IMG_MAIN_NUMBER,JPI.PRODUCT_IMG_MAIN_NAME,JPI.PRODUCT_IMG_MAIN_PATH,
        JPI.PRODUCT_IMG_MAIN_UUID
        FROM JUMAK_PRODUCT P
        LEFT JOIN JUMAK_PRODUCT_IMG_MAIN JPI ON P.PRODUCT_NUMBER = JPI.PRODUCT_NUMBER
        <if test="categoryNumber == 1">
            WHERE P.PRODUCT_CATEGORY_NUMBER IN (1, 2)
        </if>
        <if test="categoryNumber == 3">
            WHERE P.PRODUCT_CATEGORY_NUMBER IN (3, 4)
        </if>
        <if test="categoryNumber == 5">
            WHERE P.PRODUCT_CATEGORY_NUMBER IN (5, 6)
        </if>
        <if test="categoryNumber == 7">
            WHERE P.PRODUCT_CATEGORY_NUMBER IN (7, 8)
        </if>
        <if test="categoryNumber == 9">
            WHERE P.PRODUCT_CATEGORY_NUMBER == 9
        </if>
        ORDER BY P.PRODUCT_RELEASE_DATE DESC
    ) P
    <![CDATA[
WHERE ROWNUM <= 5
    ]]>

</select>

<!--    우리술 메인-->
<!--    <select id="selectByCate" resultType="productInfoVo">
        SELECT ROWNUM RNUM,P.PRODUCT_NUMBER,P.PRODUCT_CATEGORY_NUMBER,P.PRODUCT_NAME,
               P.PRODUCT_SUBTITLE,P.PRODUCT_DESCRIPTION,P.PRODUCT_PRICE,P.PRODUCT_SALES,
               P.PRODUCT_RELEASE_DATE,PRODUCT_IMG_NUMBER,PRODUCT_IMG_NAME,PRODUCT_IMG_PATH,
               PRODUCT_IMG_UUID
        FROM (
                 SELECT P.PRODUCT_NUMBER,P.PRODUCT_CATEGORY_NUMBER,P.PRODUCT_NAME,P.PRODUCT_SUBTITLE,
                        P.PRODUCT_DESCRIPTION,P.PRODUCT_PRICE,P.PRODUCT_SALES,P.PRODUCT_RELEASE_DATE,
                        JPI.PRODUCT_IMG_NUMBER,JPI.PRODUCT_IMG_NAME,JPI.PRODUCT_IMG_PATH,
                        JPI.PRODUCT_IMG_UUID
                 FROM JUMAK_PRODUCT P
                          LEFT JOIN JUMAK_PRODUCT_IMG JPI ON P.PRODUCT_NUMBER = JPI.PRODUCT_NUMBER
                 ORDER BY P.PRODUCT_RELEASE_DATE DESC
        ) P
        <![CDATA[
WHERE ROWNUM <= 20
    ]]>

    </select>-->

<!--    <select id="selectByCate" resultType="productInfoVo">
        SELECT RNUM, PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME,
               PRODUCT_SUBTITLE, PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_SALES,
               PRODUCT_RELEASE_DATE, PRODUCT_IMG_MAIN_NUMBER,PRODUCT_IMG_MAIN_NAME,PRODUCT_IMG_MAIN_PATH,
               PRODUCT_IMG_MAIN_UUID
        FROM (
                 SELECT ROWNUM RNUM, P.PRODUCT_NUMBER, P.PRODUCT_CATEGORY_NUMBER, P.PRODUCT_NAME,
                        P.PRODUCT_SUBTITLE, P.PRODUCT_DESCRIPTION, P.PRODUCT_PRICE, P.PRODUCT_SALES,
                        P.PRODUCT_RELEASE_DATE,JPI.PRODUCT_IMG_MAIN_NUMBER,JPI.PRODUCT_IMG_MAIN_NAME,JPI.PRODUCT_IMG_MAIN_PATH,
                        JPI.PRODUCT_IMG_MAIN_UUID,
                        ROW_NUMBER() OVER (PARTITION BY P.PRODUCT_NUMBER ORDER BY P.PRODUCT_RELEASE_DATE DESC) AS rnk
                 FROM JUMAK_PRODUCT P
                          LEFT JOIN JUMAK_PRODUCT_IMG_MAIN JPI ON P.PRODUCT_NUMBER = JPI.PRODUCT_NUMBER
                 ORDER BY P.PRODUCT_RELEASE_DATE DESC
             ) P
    <![CDATA[
        WHERE RNUM <= 20 AND rnk = 1
        ]]>
    </select>-->

    <select id="selectByCate" resultType="productInfoVo">
        SELECT PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_SUBTITLE, PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_SALES, PRODUCT_RELEASE_DATE, PRODUCT_IMG_MAIN_NUMBER, PRODUCT_IMG_MAIN_NAME, PRODUCT_IMG_MAIN_PATH, PRODUCT_IMG_MAIN_UUID, CATE, rnk
        FROM (
        SELECT PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_SUBTITLE, PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_SALES, PRODUCT_RELEASE_DATE, PRODUCT_IMG_MAIN_NUMBER, PRODUCT_IMG_MAIN_NAME, PRODUCT_IMG_MAIN_PATH, PRODUCT_IMG_MAIN_UUID, CATE,
        ROW_NUMBER() OVER (PARTITION BY CATE ORDER BY PRODUCT_RELEASE_DATE DESC) AS rnk
        FROM (
        SELECT
        P.PRODUCT_NUMBER,
        P.PRODUCT_CATEGORY_NUMBER,
        P.PRODUCT_NAME,
        P.PRODUCT_SUBTITLE,
        P.PRODUCT_DESCRIPTION,
        P.PRODUCT_PRICE,
        P.PRODUCT_SALES,
        P.PRODUCT_RELEASE_DATE,
        JPI.PRODUCT_IMG_MAIN_NUMBER,
        JPI.PRODUCT_IMG_MAIN_NAME,
        JPI.PRODUCT_IMG_MAIN_PATH,
        JPI.PRODUCT_IMG_MAIN_UUID,
        CASE
        WHEN PRODUCT_CATEGORY_NUMBER IN (1, 2)
        THEN 1
        WHEN PRODUCT_CATEGORY_NUMBER IN (3, 4)
        THEN 2
        WHEN PRODUCT_CATEGORY_NUMBER IN (5, 6)
        THEN 3
        WHEN PRODUCT_CATEGORY_NUMBER IN (7, 8)
        THEN 4
        WHEN PRODUCT_CATEGORY_NUMBER IN (9)
        THEN 5
        END AS CATE
        FROM JUMAK_PRODUCT P
        LEFT JOIN JUMAK_PRODUCT_IMG_MAIN JPI ON P.PRODUCT_NUMBER = JPI.PRODUCT_NUMBER
        ORDER BY P.PRODUCT_RELEASE_DATE DESC
        )
        )
        <![CDATA[
        WHERE RNK <= 5
        ]]>
    </select>




    <!--    우리술 전체보기-->

    <select id="selectByOrderCond" resultType="productInfoVo" parameterType="string">
        SELECT PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_SUBTITLE,
        PRODUCT_ALCOHOLICITY, PRODUCT_NET_WEIGHT, PRODUCT_RELEASE_DATE, PRODUCT_SALES, PRODUCT_IMG_MAIN_NUMBER,
        PRODUCT_IMG_MAIN_NAME, PRODUCT_IMG_MAIN_PATH, PRODUCT_IMG_MAIN_UUID
        FROM(
        SELECT ROWNUM RNUM, PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_SUBTITLE,
        PRODUCT_ALCOHOLICITY,  PRODUCT_NET_WEIGHT, PRODUCT_RELEASE_DATE, PRODUCT_SALES,
        PRODUCT_IMG_MAIN_NUMBER, PRODUCT_IMG_MAIN_NAME, PRODUCT_IMG_MAIN_PATH, PRODUCT_IMG_MAIN_UUID
        FROM(
        SELECT P.PRODUCT_NUMBER, P.PRODUCT_CATEGORY_NUMBER, P.PRODUCT_NAME, P.PRODUCT_PRICE, P.PRODUCT_SUBTITLE,
        P.PRODUCT_ALCOHOLICITY, P.PRODUCT_NET_WEIGHT, P.PRODUCT_RELEASE_DATE,
        P.PRODUCT_SALES,
        I.PRODUCT_IMG_MAIN_NUMBER, PRODUCT_IMG_MAIN_NAME, PRODUCT_IMG_MAIN_PATH, PRODUCT_IMG_MAIN_UUID
        FROM JUMAK_PRODUCT P LEFT JOIN JUMAK_PRODUCT_IMG_MAIN I
        ON P.PRODUCT_NUMBER = I.PRODUCT_NUMBER
        <trim prefix="WHERE">
            <choose>
                <when test="'group1'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(1,2)
                </when>
                <when test="'group2'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(3,4)
                </when>
                <when test="'group3'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(5,6)
                </when>
                <when test="'group4'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(7,8)
                </when>
                <when test="'group5'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER = 9
                </when>
            </choose>
        </trim>

        <choose>
            <when test="'date'.equals(orderCond)">
                ORDER BY PRODUCT_RELEASE_DATE DESC
            </when>
            <when test="'sale'.equals(orderCond) or orderCond == null">
                ORDER BY PRODUCT_SALES DESC
            </when>
        </choose>
        )
        <![CDATA[
            WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ]]>
        )
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}




    </select>

    <!--상품 전체 수량-->
    <select id="selectTotalByCond" resultType="long" parameterType="string">
        SELECT COUNT(P.PRODUCT_NUMBER)
        FROM JUMAK_PRODUCT P
        <trim prefix="WHERE">
            <choose>
                <when test="'group1'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(1,2)
                </when>
                <when test="'group2'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(3,4)
                </when>
                <when test="'group3'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(5,6)
                </when>
                <when test="'group4'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(7,8)
                </when>
                <when test="'group5'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER = 9
                </when>
            </choose>
        </trim>
    </select>

<!--    우리술 상품 디테일-->
    <select id="selectByDNumber" resultType="productInfoVo">
        SELECT P.PRODUCT_NUMBER, P.PRODUCT_CATEGORY_NUMBER, P.PRODUCT_NAME, P.PRODUCT_RAW_MATERIAL, P.PRODUCT_NET_WEIGHT,
               P.PRODUCT_ALCOHOLICITY,P.PRODUCT_AREA, P.PRODUCT_DESCRIPTION, P.PRODUCT_PRICE, P.PRODUCT_DISCOUNT, P.PRODUCT_DISTILLERY,
               P.PRODUCT_SUBTITLE,
               PC.PRODUCT_CATEGORY_NAME,
               IM.PRODUCT_IMG_MAIN_NUMBER, PRODUCT_IMG_MAIN_NAME, PRODUCT_IMG_MAIN_PATH, PRODUCT_IMG_MAIN_UUID
        FROM JUMAK_PRODUCT P LEFT JOIN JUMAK_PRODUCT_IMG_MAIN IM on P.PRODUCT_NUMBER = IM.PRODUCT_NUMBER
                             INNER JOIN JUMAK_PRODUCT_CATEGORY PC ON P.PRODUCT_CATEGORY_NUMBER = PC.PRODUCT_CATEGORY_NUMBER
        WHERE P.PRODUCT_NUMBER=#{productNumber}
    </select>

<!--    우리술 상품 디테일 이미지-->
    <select id="selectByDImg" resultType="productInfoVo">
        SELECT P.PRODUCT_NUMBER, P.PRODUCT_CATEGORY_NUMBER, P.PRODUCT_NAME, P.PRODUCT_RAW_MATERIAL, P.PRODUCT_NET_WEIGHT,
               P.PRODUCT_ALCOHOLICITY,P.PRODUCT_AREA, P.PRODUCT_DESCRIPTION, P.PRODUCT_PRICE, P.PRODUCT_DISCOUNT, P.PRODUCT_DISTILLERY,
               I.PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_PATH, PRODUCT_IMG_UUID
        FROM JUMAK_PRODUCT P LEFT JOIN JUMAK_PRODUCT_IMG I on P.PRODUCT_NUMBER = I.PRODUCT_NUMBER
        WHERE P.PRODUCT_NUMBER=#{productNumber}

    </select>

</mapper>









