<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jumak.mapper.product.StoreMapper">

    <select id="selectByOrderCond" resultType="productListVo" parameterType="string">
        SELECT PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_ALCOHOLICITY, PRODUCT_DISCOUNT, PRODUCT_NET_WEIGHT, PRODUCT_RELEASE_DATE, PRODUCT_SALES, PRODUCT_IMG_MAIN_NUMBER, PRODUCT_IMG_MAIN_NAME, PRODUCT_IMG_MAIN_PATH, PRODUCT_IMG_MAIN_UUID
        FROM(
            SELECT ROWNUM RNUM, PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_ALCOHOLICITY, PRODUCT_DISCOUNT, PRODUCT_NET_WEIGHT, PRODUCT_RELEASE_DATE, PRODUCT_SALES, PRODUCT_IMG_MAIN_NUMBER, PRODUCT_IMG_MAIN_NAME, PRODUCT_IMG_MAIN_PATH, PRODUCT_IMG_MAIN_UUID
            FROM(
                SELECT P.PRODUCT_NUMBER, P.PRODUCT_CATEGORY_NUMBER, P.PRODUCT_NAME, P.PRODUCT_PRICE,
                P.PRODUCT_ALCOHOLICITY, P.PRODUCT_DISCOUNT, P.PRODUCT_NET_WEIGHT, P.PRODUCT_RELEASE_DATE,
                P.PRODUCT_SALES,
                I.PRODUCT_IMG_MAIN_NUMBER, PRODUCT_IMG_MAIN_NAME, PRODUCT_IMG_MAIN_PATH, PRODUCT_IMG_MAIN_UUID
                FROM JUMAK_PRODUCT P LEFT JOIN JUMAK_PRODUCT_IMG_MAIN I
                ON P.PRODUCT_NUMBER = I.PRODUCT_NUMBER
                <trim prefix="WHERE">
                    <choose>
                        <when test="'group1'.equals(cate)">
                            PRODUCT_CATEGORY_NUMBER IN(1,2)
                        </when>
                        <when test="'group2'.equals(cate)">
                            PRODUCT_CATEGORY_NUMBER IN(3,4)
                        </when>
                        <when test="'group3'.equals(cate)">
                            PRODUCT_CATEGORY_NUMBER IN(5,6)
                        </when>
                        <when test="'group4'.equals(cate)">
                            PRODUCT_CATEGORY_NUMBER IN(7,8)
                        </when>
                        <when test="'group5'.equals(cate)">
                            PRODUCT_CATEGORY_NUMBER = 9
                        </when>
                    </choose>
                </trim>

                <choose>
                    <when test="'date'.equals(orderCond)">
                        ORDER BY PRODUCT_RELEASE_DATE DESC
                    </when>
                    <when test="'sale'.equals(orderCond) or orderCond == null">
                        ORDER BY PRODUCT_SALES DESC
                    </when>
                    <when test="'rowPrice'.equals(orderCond)">
                        ORDER BY PRODUCT_PRICE
                    </when>
                    <when test="'highPrice'.equals(orderCond)">
                        ORDER BY PRODUCT_PRICE DESC
                    </when>
                </choose>
            )
        <![CDATA[
            WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ]]>
        )
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}




    </select>

    <select id="selectTotalByCond" resultType="long" parameterType="string">
        SELECT COUNT(P.PRODUCT_NUMBER)
        FROM JUMAK_PRODUCT P
        <trim prefix="WHERE">
            <choose>
                <when test="'group1'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(1,2)
                </when>
                <when test="'group2'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(3,4)
                </when>
                <when test="'group3'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(5,6)
                </when>
                <when test="'group4'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER IN(7,8)
                </when>
                <when test="'group5'.equals(cate)">
                    PRODUCT_CATEGORY_NUMBER = 9
                </when>
            </choose>
        </trim>
    </select>



<!--    상품 info 디테일 페이지-->
    <select id="selectByDNumber" resultType="productDetailVo">
        SELECT P.PRODUCT_NUMBER, P.PRODUCT_CATEGORY_NUMBER, P.PRODUCT_NAME, P.PRODUCT_RAW_MATERIAL, P.PRODUCT_NET_WEIGHT,
               P.PRODUCT_ALCOHOLICITY,P.PRODUCT_AREA, P.PRODUCT_DESCRIPTION, P.PRODUCT_PRICE, P.PRODUCT_DISCOUNT, P.PRODUCT_DISTILLERY,
               PC.PRODUCT_CATEGORY_NAME,
               IM.PRODUCT_IMG_MAIN_NUMBER, PRODUCT_IMG_MAIN_NAME, PRODUCT_IMG_MAIN_PATH, PRODUCT_IMG_MAIN_UUID
        FROM JUMAK_PRODUCT P LEFT JOIN JUMAK_PRODUCT_IMG_MAIN IM on P.PRODUCT_NUMBER = IM.PRODUCT_NUMBER
                             INNER JOIN JUMAK_PRODUCT_CATEGORY PC ON P.PRODUCT_CATEGORY_NUMBER = PC.PRODUCT_CATEGORY_NUMBER
        WHERE P.PRODUCT_NUMBER=#{productNumber}
    </select>

<!--    상품 info 디테일 이미지 -->
    <select id="selectByDImg" resultType="productDetailVo">
        SELECT P.PRODUCT_NUMBER, P.PRODUCT_CATEGORY_NUMBER, P.PRODUCT_NAME, P.PRODUCT_RAW_MATERIAL, P.PRODUCT_NET_WEIGHT,
               P.PRODUCT_ALCOHOLICITY,P.PRODUCT_AREA, P.PRODUCT_DESCRIPTION, P.PRODUCT_PRICE, P.PRODUCT_DISCOUNT, P.PRODUCT_DISTILLERY,
               I.PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_PATH, PRODUCT_IMG_UUID
        FROM JUMAK_PRODUCT P LEFT JOIN JUMAK_PRODUCT_IMG I on P.PRODUCT_NUMBER = I.PRODUCT_NUMBER
        WHERE P.PRODUCT_NUMBER=#{productNumber}

    </select>

</mapper>









