<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mypage/member_info/member_info.css}" />
  </head>
  <header class="header">
    <h1>수상한주막</h1>
  </header>
  <body>
    <div class="my_page">
      <!-- 사이드 메뉴 시작 -->
      <div class="sub_menu_box">
        <div class="sub_menu_content">
          <h2>마이페이지</h2>
          <ul class="sub_menu_list">
            <li>
              <h2>쇼핑정보</h2>
              <ul class="sub_menu_samll_list">
                <li>
                  <a href="">- 주문목록/배송조회</a>
                </li>
                <li>
                  <a href="">- 취소/반품/교환 내역</a>
                </li>
                <li>
                  <a href="">- 환불/입금 내역</a>
                </li>
              </ul>
            </li>
            <li>
              <h2>고객샌터</h2>
              <ul class="sub_menu_samll_list">
                <li>
                  <a href="">- 1:1 문의</a>
                </li>
              </ul>
            </li>
            <li>
              <h2>회원정보</h2>
              <ul class="sub_menu_samll_list">
                <li>
                  <a href="">- 회원정보 변경</a>
                </li>
                <li>
                  <a href="">- 회원 탈퇴</a>
                </li>
                <li>
                  <a href="">- 배송지 관리</a>
                </li>
              </ul>
            </li>
            <li>
              <h2>커뮤니티</h2>
              <ul class="sub_menu_samll_list">
                <li>
                  <a href="">- 작성글 확인</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- 사이드 메뉴 끝 -->
      <!-- 메인 시작 -->
      <div class="mypage_main_box">
        <div class="mypage_main_content_box_1">
          <!-- 회원정보 변경 시작 -->>
          <div class="info_title">
            <h3>회원정보 변경</h3>
          </div>
          <div class="basic_info_title">
            <h2>기본정보</h2>
          </div>
          <form action="">
            <div>
              <table>
                <colgroup>
                  <col style="width: 15%" />
                  <col style="width: 80%" />
                </colgroup>
                <tbody>
                  <tr>
                    <th>아이디</th>
                    <td>!회원아이디!</td>
                  </tr>
                  <tr>
                    <th>비밀번호</th>
                    <td>
                      <div class="password_content">
                        <p>현재 비밀번호</p>
                        <input type="password" class="password_box" />
                      </div>
                      <div class="password_content">
                        <p>새 비밀번호</p>
                        <input type="password" class="password_box" />
                      </div>
                      <div class="password_content">
                        <p>새 비밀번호 확인</p>
                        <input type="password" class="password_box" />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>이름</th>
                    <td>!회원 이름!</td>
                  </tr>
                  <tr>
                    <th>생년월일</th>
                    <td>!회원생년월일!</td>
                  </tr>
                  <tr>
                    <th>닉네임</th>
                    <td>
                      <div>
                        <input type="text" placeholder="!회원닉네임!" />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>이메일</th>
                    <td>
                      <div>
                        <input type="text" placeholder="!회원이메일!" />
                        <select name="adress" id="select">
                          <option value="직접입력">직접입력</option>
                          <option value="naver.com">naver.com</option>
                          <option value="hanmail.net">hanmail.net</option>
                          <option value="daum.net">daum.net</option>
                          <option value="nate.com">nate.com</option>
                          <option value="gmail.com">gmail.com</option>
                        </select>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>전화번호</th>
                    <td>
                      <div>
                        <input type="text" placeholder="!회원전화번호!" />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="adress_info">주소</th>
                    <td class="adress_info">
                      <div>
                        <input type="text" placeholder="!우편번호!"/
                        class="zip_number">
                        <button type="button">우편번호 검색</button>
                      </div>
                      <div>
                        <input type="text" placeholder="!메인주소!" />
                      </div>
                      <div>
                        <input type="text" placeholder="!상세주소!" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="button_content">
              <a href="" id="cancel">취소</a>
              <button type="submit" id="button">정보수정</button>
            </div>
          </form>
          <!-- 회원정보 변경 끝 -->
          <!-- 날짜 선택 시작 -->
          <!-- 날짜 선택 끝 -->
          <!-- 조회 시작 -->
          <!-- 조회 끝 -->
        </div>
      </div>
    </div>
    <footer>
      <h3>footer</h3>
    </footer>
  </body>
</html>
