<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/user/find_id/find_id.css}" />
  </head>
  <body
    id="blContents"
    class="body-member body-find-id pc"
    oncontextmenu="return false"
  >
    <div id="container" onclick="clickBody()">
      <div id="contents">
        <div class="location_wrap">
          <div class="location_wrap">
            <div class="location_cont">
              <em>
                <!-- 아이디찾기 경로 -->
                <a href="#" class="local_home">HOME</a>
                > 아이디 찾기
              </em>
            </div>
          </div>
          <div class="sub_content">
            <div class="content_box">
              <div class="member_wrap">
                <div class="member_tit">
                  <h2>아이디 찾기</h2>
                </div>
                <div class="member_cont">
                  <form
                    id="formFindId"
                    method="post"
                    action=""
                    novalidate="novalidate"
                  >
                    <div class="find_id_box">
                      <div class="find_id_sec">
                        <h3>회원 아이디 찾기</h3>
                        <div class="form_element radio_find_type">
                          <input
                            type="radio"
                            id="findIdEmail"
                            name="findFl"
                            value="email"
                            checked="checked"
                          />
                          <label for="findIdEmail" class="choice_s on"
                            >이메일</label
                          >
                          <input
                            type="radio"
                            id="findIdPhone"
                            name="findFl"
                            value="cellPhone"
                          />
                          <label for="findIdPhone" class="choice_s"
                            >휴대폰번호</label
                          >
                        </div>
                        <div class="login_input">
                          <div>
                            <input
                              type="text"
                              id="userName"
                              name="userName"
                              placeholder="이름"
                            />
                            <input
                              type="text"
                              id="userCellPhoneNum"
                              name="userCellPhoneNum"
                              placeholder="가입휴대폰번호"
                              disabled="disabled"
                              style="display: none"
                              maxlength="12"
                            />
                            <input
                              type="text"
                              id="userEmail"
                              name="userEmail"
                              class="input_email"
                              placeholder="가입메일주소"
                            />
                            <select
                              id="emailDomain"
                              name="emailDomain"
                              class="email_select"
                            >
                              <option value="self">직접입력</option>
                              <option value="naver.com">naver.com</option>
                              <option value="hanmail.net">hanmail.net</option>
                              <option value="daum.net">daum.net</option>
                              <option value="nate.com">nate.com</option>
                              <option value="hotmail.com">hotmail.com</option>
                              <option value="gmail.com">gmail.com</option>
                              <option value="icloud.com">icloud.com</option>
                            </select>
                          </div>
                          <button type="submit" class="btn_member_id">
                            아이디 찾기
                          </button>
                        </div>
                        <p class="dn js_caution_msg1">
                          일치하는 회원정보가 없습니다. 다시 입력해 주세요.
                        </p>
                      </div>
                      <div class="btn_member_sec">
                        <ul>
                          <li>
                            <button
                              class="btn_member_white js_btn_find_password"
                            >
                              비밀번호 찾기
                            </button>
                          </li>
                          <li>
                            <button class="btn_comfirm js_btn_login">
                              로그인하기
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
