<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jumak.mapper.mypage.MemberMapper">
    <select id="selectMember" resultType="userDto">
        SELECT USER_NUMBER, USER_ID, USER_PASSWORD, USER_NAME, USER_NICKNAME, USER_EMAIL, USER_CELLPHONENUMBER,
               USER_PHONENUMBER, USER_ADDRESS, USER_ADDRESS_DETAIL, USER_ZIPCODE, USER_BIRTH, USER_GRADE_NUMBER
        FROM JUMAK_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="enterPassword" parameterType="memberVo" resultType="long">
        SELECT COUNT(USER_NUMBER)
        FROM JUMAK_USER
        WHERE USER_NUMBER = #{userNumber} AND USER_PASSWORD = #{userPassword}
    </select>

    <update id="updateMember" parameterType="memberVo">
        UPDATE JUMAK_USER
        SET
            <if test="newPassword != null and !newPassword.equals('')">
                USER_PASSWORD = #{newPassword},
            </if>
            USER_NICKNAME = #{newNickname} ,
            USER_EMAIL = #{newEmail},
            USER_PHONENUMBER = #{newPhoneNumber},
            USER_ADDRESS = #{newAddress},
            USER_ADDRESS_DETAIL = #{newAddressDetail},
            USER_ZIPCODE = #{newZipcode}
        WHERE USER_NUMBER = #{userNumber}
    </update>

    <delete id="memberDelete" parameterType="memberVo">
        DELETE
        FROM JUMAK_USER
        WHERE USER_NUMBER = #{userNumber}
    </delete>
</mapper>
