<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>

    <link rel="stylesheet" th:href="@{/css/admin/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/commons/default.css}">
    <link rel="stylesheet" th:href="@{/css/admin/contentLeft.css}">
    <link rel="stylesheet" th:href="@{/css/admin/product/productList.css}">
</head>

<body>
<header th:replace="~{/admin/layout/header :: header}"></header>

<div>
    <div></div>
    <div class="sub_content">
            <!--사이드-->
            <div th:Replace="~{/admin/layout/nav :: sideCont}"></div>

        <!-- ----------------------------------------- -->
        <div class="content">
            <div>
                <h1>상품관리</h1>
            </div>


            <!--검색창-->
            <div class="product_search">
                <form action="/admin/product/search">
                    <select name="searchType">
                        <option value="prdName">상품명</option>
                        <option value="prdNumber">품번</option>
                    </select>
                    <input type="text" name="keyword">
                    <button>검색</button>
                </form>
                <button type="button" class="btn_product_add">상품추가</button>
            </div>

            <div>

            </div>

            <!--상품 리스트-->
            <div>
                <div class="admin_product_table">
                    <table>
                        <colgroup>
                            <col style="width:10%;">
                            <col>
                            <col style="width:15%;">
                            <col style="width:10%;">
                            <col style="width:10%;">
                            <col style="width:15%;">
                            <col style="width:15%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>품번</th>
                            <th>상품명</th>
                            <th>가격</th>
                            <th>재고수량</th>
                            <th>판매수량</th>
                            <th>출시일</th>
                            <th>관리</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${productList}">
                            <td th:text="${product.productNumber}"></td>
                            <td th:text="${product.productName}"></td>
                            <td th:text="${product.productPrice}"></td>
                            <td th:text="${product.productInventory}"></td>
                            <td th:text="${product.productSales}"></td>
<!--                            ${#dates.format(date, 'dd/MMM/yyyy HH:mm')}-->
                            <td th:text="${product.productReleaseDate}"></td>
                            <td>
                                <button class="btn_product_detail" type="button" th:data-num="${product.productNumber}">상세</button>
                                <button class="btn_product_remove" type="button" th:data-num="${product.productNumber}">삭제</button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <!--페이징 처리-->
            <div class="paging" >
                <div class="pages" th:object="${pageInfo}">

                    <a th:href="@{/admin/product(page=*{startPage - 1})}" class="page-a" th:if="*{prev}">
                        <span class="page-num prev">&lt</span>
                    </a>

                    <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                        <a th:href="@{/admin/product(page=${i})}" class="page-a">
                            <span class="page-num" th:classappend="${i==pageInfo.aCriteria.page} ? 'active' : '' " th:text="${i}"></span>
                        </a>
                    </th:block>


                    <a th:href="@{/admin/product(page=*{endPage+1})}" class="page-a" th:if="*{next}">
                        <span class="page-num next">&gt</span>
                    </a>

                </div>
            </div>


        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/admin/product/productList.js}"></script>
<script th:src="@{/js/fragments/header.js}"></script>
</body>
</html>