<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>
    <link rel="stylesheet" th:href="@{/css/admin/contentLeft.css}">
    <link rel="stylesheet" th:href="@{/css/admin/product/productAdd.css}">
</head>

<body>
<header>
    <div class="header_">
        <img src="" alt="">
    </div>
</header>

    <div>
        <div></div>
        <div class="sub_content">
            <!--사이드-->
            <div th:Replace="~{/admin/layout/nav :: sideCont}"></div>

            <!-- ----------------------------------------- -->
            <div class="content">
                <div>
                    <h3>상품등록</h3>
                </div>


                <form th:action="@{/admin/product/add}" method="post" enctype="multipart/form-data">
                <div>
                    <div>
                        <table class="product_add_table">
                            <colgroup>
                                <col width="25%">
                                <col width="75%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>상품명</th>
                                    <td><input type="text"  name="productName"></td>
                                </tr>
                                <tr>
                                    <th>카테고리</th>
                                    <td>
                                        <input type="radio" name="productCategoryNumber" value="1" checked="checked">막걸리
                                        <input type="radio" name="productCategoryNumber" value="2">탁주
                                        <input type="radio" name="productCategoryNumber" value="3">증류주
                                        <input type="radio" name="productCategoryNumber" value="4">리큐르
                                        <input type="radio" name="productCategoryNumber" value="5">약주
                                        <input type="radio" name="productCategoryNumber" value="6">청주
                                        <input type="radio" name="productCategoryNumber" value="7">와인
                                        <input type="radio" name="productCategoryNumber" value="8">과실주
                                    </td>
                                </tr>
                                <tr>
                                    <th>키워드</th>
                                    <td>
                                        <input type="checkbox" name="productKeywordNumber" value="1">새콤한
                                        <input type="checkbox" name="productKeywordNumber" value="2">상큼한
                                        <input type="checkbox" name="productKeywordNumber" value="3">고소한
                                        <input type="checkbox" name="productKeywordNumber" value="4">달콤한
                                        <input type="checkbox" name="productKeywordNumber" value="5">달지않은
                                        <input type="checkbox" name="productKeywordNumber" value="6">쌉사름한
                                        <input type="checkbox" name="productKeywordNumber" value="7">깔끔한
                                        <input type="checkbox" name="productKeywordNumber" value="8">탄산있는
                                        <input type="checkbox" name="productKeywordNumber" value="9">부드러운
                                        <input type="checkbox" name="productKeywordNumber" value="10">걸쭉한
                                        <input type="checkbox" name="productKeywordNumber" value="11">드라이한
                                        <input type="checkbox" name="productKeywordNumber" value="12">꽃향
                                        <input type="checkbox" name="productKeywordNumber" value="13">과일향
                                        <input type="checkbox" name="productKeywordNumber" value="14">도수낮은
                                        <input type="checkbox" name="productKeywordNumber" value="15">도수높은
                                    </td>
                                </tr>
                                <tr>
                                    <th>양조장</th>
                                    <td><input type="text" name="productDistillery"></td>
                                </tr>
                                <tr>
                                    <th>상품부제목</th>
                                    <td><input type="text"  name="productSubtitle"></td>
                                </tr>
                                <tr>
                                    <th>상품설명이미지</th>
                                    <td><input type="file"  id="post-image" name="productImg" accept="image/*" ></td>
                                </tr>
                                <tr>
                                    <th>주원료</th>
                                    <td><input type="text"  name="productRawMaterial"></td>
                                </tr>
                                <tr>
                                    <th>용량</th>
                                    <td><input type="text"  name="productNetWeight"></td>
                                </tr>
                                <tr>
                                    <th>생산지역</th>
                                    <td><input type="text"  name="productArea"></td>
                                </tr>
                                <tr>
                                    <th>도수</th>
                                    <td><input type="text" name="productAlcoholicity"></td>
                                </tr>
                                <tr>
                                    <th>재고수량</th>
                                    <td><input type="text" name="productInventory"></td>
                                </tr>
                                <tr>
                                    <th>가격</th>
                                    <td><input type="text"  name="productPrice"></td>
                                </tr>
                                <tr>
                                    <th>할인률</th>
                                    <td><input type="text" name="productDiscount"></td>
                                </tr>
                                <tr>
                                    <th>상품대표이미지</th>
                                    <td><input type="file"  id="post-image-main" name="productImgMain" accept="image/*" ></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn_product_list" type="button">취소</button>
                    <button class="btn_product_add">저장</button>
                </div>
            </form>
            </div>
            
        </div>
    </div>
</body>

</html>