<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>

    <link rel="stylesheet" th:href="@{/css/admin/contentLeft.css}">
    <link rel="stylesheet" th:href="@{/css/admin/product/productDetail.css}">
</head>

<body>
<header>
    <div class="header_">
        <img src="" alt="">
    </div>
</header>

    <div>
        <div></div>
        <div class="sub_content">
            <!--사이드-->
            <div th:Replace="~{/admin/layout/nav :: sideCont}"></div>

            <!-- ----------------------------------------- -->
            <div class="content">
                <div>
                    <h3>상품상세</h3>
                </div>
                
                <div>
                    <div>
                        <table class="product_Detail_table">
                            <colgroup>
                                <col width="25%">
                                <col width="75%">
                            </colgroup>
                            <tbody>
                               <tr>
                                   <th>상품번호</th>
                                   <td th:text="${product.productNumber}"></td>
                                </tr>
                                <tr>
                                    <th>상품명</th>
                                    <td th:text="${product.productName}"></td>
                                </tr>
                                <tr>
                                    <th>카테고리</th>
                                    <td th:text="${product.productCategoryName}"></td>
                                </tr>
                                <tr>
                                    <th>양조장</th>
                                    <td th:text="${product.productDistillery}"></td>
                                </tr>
                                <tr>
                                    <th>상품부제목</th>
                                    <td th:text="${product.productSubtitle}"></td>
                                </tr>
                                <tr>
                                    <th>주원료</th>
                                    <td th:text="${product.productRawMaterial}"></td>
                                </tr>
                                <tr>
                                    <th>용량</th>
                                    <td th:text="${product.productNetWeight}"></td>
                                </tr>
                                <tr>
                                    <th>생산지역</th>
                                    <td th:text="${product.productArea}"></td>
                                </tr>
                                <tr>
                                    <th>도수</th>
                                    <td th:text="${product.productAlcoholicity}"></td>
                                </tr>
                               <tr>
                                   <th>상품가격</th>
                                   <td th:text="${product.productPrice}"></td>
                               </tr>
                                <tr>
                                    <th>재고수량</th>
                                    <td th:text="${product.productInventory}"></td>
                                </tr>
                                <tr>
                                    <th>판매수량</th>
                                    <td th:text="${product.productSales}"></td>
                                </tr>
                                <tr>
                                    <th>할인률</th>
                                    <td th:text="${product.productDiscount}"></td>
                                </tr>
                                <tr>
                                    <th>대표이미지</th>
                                    <td class="product_img_main"></td>
                                </tr>
                               <tr>
                                   <th>상세이미지</th>
                                   <td class="product_img"></td>
                               </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn_product_prev" type="button">이전</button>
                    <button type="button">수정</button>
                </div>
              
            </div>
        </div>
    </div>
<input type="hidden" class="product-num" th:value="${product.productNumber}">
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/admin/product/productDetail.js}"></script>
</body>
</html>