<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>

    <link rel="stylesheet" th:href="@{/css/admin/contentLeft.css}">
    <link rel="stylesheet" th:href="@{/css/admin/order/orderDetail.css}">
</head>

<body>
    <header>
        <div class="header_">
            <img src="" alt="">
        </div>
    </header>
    <div>
        <div></div>
        <div class="sub_content">
            <!--사이드-->
            <div th:Replace="~{/admin/layout/nav :: sideCont}"></div>

            <!-- ----------------------------------------- -->
            <div class="content">
                <div>
                    <h3>주문상세정보</h3>
                </div>
                
                <div>
                    <div class="order_detail">
                        <table class="order_table">
                            <colgroup>
                                <col width="25%">
                                <col width="75%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>주문번호</th>
                                    <td th:text="${order.orderNumber}"></td>
                                </tr>
                                <tr>
                                    <th>주문인</th>
                                    <td th:text="${order.userName}"></td>
                                </tr>
                                <tr>
                                    <th>수령인</th>
                                    <td th:text="${order.orderRecipient}"></td>
                                </tr>
                                <tr>
                                    <th>수령인번호</th>
                                    <td th:text="${order.orderPhoneNumber}"></td>
                                </tr>
                                <tr>
                                    <th>수령지</th>
                                    <td th:text="${order.orderAddress}+' '+${order.orderAddressDetail}"></td>
                                </tr>
                                <tr>
                                    <th>우편번호</th>
                                    <td th:text="${order.orderZipcode}"></td>
                                </tr>
                                <tr>
                                    <th>주문날짜</th>
                                    <td th:text="${order.orderDate}"></td>
                                </tr>
                                <tr>
                                    <th>합계 금액</th>
                                    <td th:text="${order.paymentTotalAmount}"></td>
                                </tr>
                                <tr>
                                    <th>배송비</th>
                                    <td th:text="${order.paymentDeliveryFee}"></td>
                                </tr>
                                <tr>
                                    <th>주문상태</th>
                                    <td th:text="${order.orderStatusName}"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div >
                        <table class="order_detail_table">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:15%;">
                                <col>
                                <col style="width:15%;">
                                <col style="width:15%;">
                                <col style="width:15%;">
                            </colgroup>
                            <thead>
                                <tr class="product_detail_name">
                                    <th>상세번호</th>
                                    <th>상품번호</th>
                                    <th>품명</th>
                                    <th>개별금액</th>
                                    <th>구매수량</th>
                                    <th>합계금액</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="orderDetail : ${orderDetail}">
                                    <td th:text="${orderDetail.orderDetailNumber}">1</td>
                                    <td th:text="${orderDetail.productNumber}">1</td>
                                    <td class="product_name" th:text="${orderDetail.productName}">쏘주</td>
                                    <td th:text="${orderDetail.productPrice}">3,300</td>
                                    <td th:text="${orderDetail.orderDetailCount}">2</td>
                                    <td th:text="${orderDetail.productPrice}*${orderDetail.orderDetailCount}">6,600</td>

                                </tr>
                            </tbody>

                            

                        </table>
                    </div>
                </div>
                <button class="btn_order_prev" type="button">이전</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script th:src="@{/js/admin/order/orderDetail.js}"></script>
</body>

</html>