main {
    width: 1200px;
    margin: 0 auto;
}

/* 상단 검색 결과 / 검색 창 */
.search-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 60px 0 30px;
    display: block;
}

.search-box {
    width: 65%;
    background-color: var(--main-color);
    padding: 50px 170px 30px;
    margin: 0 auto;
    border-radius: 20px;
}

#search-form {
    position: relative;
}

#search-form > #keyword {
    width: 100%;
    height: 55px;
    border-radius: 55px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 100px 0 50px;
    font-size: 20px;
    border: none;
    outline: none;
}

.input-box__icon {
    position: absolute;
    right: 26px;
    top: 17px;
    background: none;
    border: none;
}

.search-box__popular {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box__popular > strong {
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

.search-box__popular > ul {
    display: inline-block;
    margin-top: 11px;
}

.search-box__popular > ul > li {
    margin-top: 10px;
    color: #fff;
    display: inline-block;
    margin-left: 20px;
    font-weight: 300;
}

.search-box__popular > ul > li > a {
    color: #fff;
}

/* 검색 결과 메세지 */

.search-result-msg{
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    font-family: chosun;
}

#result-keyword{
    color: var(--strong-color);
    font-weight: bold;
}

/* 결과 리스트 */
.content__title{
    padding: 30px 0px 0px;
    margin: 50px auto 0;
    border-top: 1px solid #dcdcdc;
}

.list-item{
    max-width: 182px;
}

.content__title > span{
    display: block;
    font-size: 16px;
    color: #1A191E;
    padding-left: 20px;
    line-height: 1;
    font-family: chosun;
}
.info-list-count,
.store-list-count{
    color: var(--strong-color);
    font-weight: bold;
}

.content__list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    row-gap: 100px;
}

.img-box > img{
    width: 182px;
}

.text-box{
    text-align: center;
    margin-top: 20px;
}

.name{
    font-size: 16px;
    color: #252525;
    font-weight: bold;
    font-family: chosun;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.detail{
    margin-top: 20px;
    font-size: 14px;
    color: #acacac;
    font-family: chosun;
}

.price,
.sale-price{
    font-size: 16px;
    color: #252525;
    font-weight: bold;
    font-family: chosun;
}








