<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>


    <link rel="stylesheet" th:href="@{/css/admin/contentLeft.css}">
    <link rel="stylesheet" th:href="@{/css/admin/board/board1.css}">
</head>

<body>
    <header>
        <div class="header_">
            <img src="" alt="">
        </div>
    </header>
    <div>
        <div></div>
        <div class="sub_content">
            <!--사이드-->
            <div th:Replace="~{/admin/layout/nav :: sideCont}"></div>

            <!-- ----------------------------------------- -->
            <div class="content">
                <div>
                    <h1>수상한 마당</h1>
                </div>
                <div class="user_search">
                    <select>                   
                        <option value="prdName">전체</option>
                        <option value="prdName">제목</option>
                        <option value="prdNumber">작성자</option>            
                        <option value="prdNumber">내용</option>
                    </select>
                    <button>검색</button>
                </div>
                <div>
                   
                </div>
                <div>
                    <div class="admin_user_table">
                        <table>
                            <colgroup>
                                <col style="width:10%;">
                                <col style="width:15%">
                                <col>
                                <col style="width:15%;">
                                <col style="width:15%;">
                                <col style="width:15%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>게시글번호</th>
                                    <th>카테고리</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                    <th>관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ㅇㅇ</td>
                                    <td>얼어죽어도아이스아메리카노</td>
                                    <td>호비</td>
                                    <td>2023-01-01</td>
                                    <td>
                                        <button>상세</button>
                                        <button>삭제</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>