<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지</title>
    <link rel="stylesheet" th:href="@{/css/admin/contentLeft.css}">
    <link rel="stylesheet" th:href="@{/css/admin/board/newsAdd.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

</head>

<body>
<header>
    <div class="header_">
        <img src="" alt="">
    </div>
</header>

    <div>
        <div></div>
        <div class="sub_content">
            <!--사이드-->
            <div th:Replace="~{/admin/layout/nav :: sideCont}"></div>

            <!-- ----------------------------------------- -->
            <div class="content">
                <div>
                    <h3>상품등록</h3>
                </div>


                <form th:action="@{/admin/product/add}" method="post" enctype="multipart/form-data">
                <div>
                    <div>
                        <table class="product_add_table">
                            <colgroup>
                                <col width="20%">
                                <col width="80%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>제목</th>
                                    <td><input type="text"  name="title"></td>
                                </tr>
                                <tr>
                                    <th>카테고리</th>
                                    <td>
                                        <input type="radio" name="productCategoryNumber" value="1" checked="checked">신상술
                                        <input type="radio" name="productCategoryNumber" value="2">지역축제/시음회
                                        <input type="radio" name="productCategoryNumber" value="3">양조장 탐방
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                        <textarea id="summernote" name="content"></textarea>

                    </div>
                    <button class="btn_news_list" type="button">취소</button>
                    <button class="btn_news_add">저장</button>
                </div>
            </form>
            </div>
            
        </div>
    </div>
<script>
    $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
</body>

</html>