<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jumak.mapper.admin.aproduct.AProductImgMapper">
   <insert id="insert">
       INSERT INTO JUMAK_PRODUCT_IMG (PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_PATH,
                                           PRODUCT_IMG_UUID, PRODUCT_NUMBER)
       VALUES (SEQ_PRODUCT_IMG.nextval,#{productImgName},#{productImgPath},
               #{productImgUuid},#{productNumber})
   </insert>

    <select id="selectOne" resultType="productImgDto">
        SELECT PRODUCT_IMG_NUMBER, PRODUCT_IMG_NAME, PRODUCT_IMG_PATH,
               PRODUCT_IMG_UUID, PRODUCT_NUMBER
        FROM JUMAK_PRODUCT_IMG
        WHERE PRODUCT_NUMBER = #{productNumber}
  </select>
</mapper>