<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jumak.mapper.admin.aproduct.AProductMapper">

<!--    단건조회-->
    <select id="selectOne" resultType="aProductVo">
        select P.PRODUCT_NUMBER, P.PRODUCT_CATEGORY_NUMBER, P.PRODUCT_NAME, P.PRODUCT_SUBTITLE,
               P.PRODUCT_RAW_MATERIAL, P.PRODUCT_NET_WEIGHT, P.PRODUCT_ALCOHOLICITY, P.PRODUCT_AREA,
               P.PRODUCT_DESCRIPTION, P.PRODUCT_PRICE, P.PRODUCT_INVENTORY, P.PRODUCT_SALES, P.PRODUCT_DISCOUNT,
               P.PRODUCT_RELEASE_DATE, P.PRODUCT_DISTILLERY, PC.PRODUCT_CATEGORY_NAME
        from JUMAK_PRODUCT P JOIN JUMAK_PRODUCT_CATEGORY PC
        ON PRODUCT_NUMBER = #{productNumber} AND  P.PRODUCT_CATEGORY_NUMBER = PC.PRODUCT_CATEGORY_NUMBER
    </select>

<!--    단건 키워드 조회(리스트)-->
    <select id="selectOneKeyword" resultType="productKeywordDto">
        SELECT K.PRODUCT_KEYWORD_NUMBER, K.PRODCUT_KEYWORD_NAME
        FROM JUMAK_PRODUCT_TAG T JOIN JUMAK_PRODUCT_KEYWORD K
        ON PRODUCT_NUMBER= #{productNumber} AND T.PRODUCT_KEYWORD_NUMBER = K.PRODUCT_KEYWORD_NUMBER
    </select>

    <select id="selectAll" resultType="productDto">
        SELECT PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_SUBTITLE,
               PRODUCT_RAW_MATERIAL, PRODUCT_NET_WEIGHT, PRODUCT_ALCOHOLICITY, PRODUCT_AREA,
               PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_INVENTORY, PRODUCT_SALES, PRODUCT_DISCOUNT,
               PRODUCT_RELEASE_DATE, PRODUCT_DISTILLERY
        FROM(
                SELECT ROWNUM AS RNUM, PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_SUBTITLE,
                       PRODUCT_RAW_MATERIAL, PRODUCT_NET_WEIGHT, PRODUCT_ALCOHOLICITY, PRODUCT_AREA,
                       PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_INVENTORY, PRODUCT_SALES, PRODUCT_DISCOUNT,
                       PRODUCT_RELEASE_DATE, PRODUCT_DISTILLERY
                FROM(
                        select PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_SUBTITLE,
                               PRODUCT_RAW_MATERIAL, PRODUCT_NET_WEIGHT, PRODUCT_ALCOHOLICITY, PRODUCT_AREA,
                               PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_INVENTORY, PRODUCT_SALES, PRODUCT_DISCOUNT,
                               PRODUCT_RELEASE_DATE, PRODUCT_DISTILLERY
                        from JUMAK_PRODUCT
                        ORDER BY PRODUCT_NUMBER DESC)
            <![CDATA[
                WHERE ROWNUM <= #{page} * #{amount}
            ]]>
        )
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <select id="selectTotal" resultType="_int">
        SELECT COUNT(PRODUCT_NUMBER)
        FROM JUMAK_PRODUCT
    </select>


<!--    서치리스트-->
    <select id="selectSearch" resultType="productDto">
        SELECT PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_SUBTITLE,
        PRODUCT_RAW_MATERIAL, PRODUCT_NET_WEIGHT, PRODUCT_ALCOHOLICITY, PRODUCT_AREA,
        PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_INVENTORY, PRODUCT_SALES, PRODUCT_DISCOUNT,
        PRODUCT_RELEASE_DATE, PRODUCT_DISTILLERY
        FROM(
        SELECT ROWNUM AS RNUM, PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_SUBTITLE,
        PRODUCT_RAW_MATERIAL, PRODUCT_NET_WEIGHT, PRODUCT_ALCOHOLICITY, PRODUCT_AREA,
        PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_INVENTORY, PRODUCT_SALES, PRODUCT_DISCOUNT,
        PRODUCT_RELEASE_DATE, PRODUCT_DISTILLERY
        FROM(
        select PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_SUBTITLE,
        PRODUCT_RAW_MATERIAL, PRODUCT_NET_WEIGHT, PRODUCT_ALCOHOLICITY, PRODUCT_AREA,
        PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_INVENTORY, PRODUCT_SALES, PRODUCT_DISCOUNT,
        PRODUCT_RELEASE_DATE, PRODUCT_DISTILLERY
        from JUMAK_PRODUCT
        <if test="searchVo.searchType.equals('prdName')">
            WHERE PRODUCT_NAME like '%' || #{searchVo.keyword} || '%'
        </if>

        <if test="searchVo.searchType.equals('prdNumber')">
            WHERE PRODUCT_NUMBER like '%' || #{searchVo.keyword} || '%'
        </if>
        )
        <![CDATA[
            WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
            ]]>
        )
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="selectSearchTotal" resultType="_int">
        SELECT COUNT(PRODUCT_NUMBER)
        FROM JUMAK_PRODUCT
        <if test="searchVo.searchType.equals('prdName')">
            WHERE PRODUCT_NAME like '%' || #{searchVo.keyword} || '%'
        </if>

        <if test="searchVo.searchType.equals('prdNumber')">
            WHERE PRODUCT_NUMBER like '%' || #{searchVo.keyword} || '%'
        </if>
    </select>

    <delete id="delete">
        DELETE FROM JUMAK_PRODUCT
        WHERE PRODUCT_NUMBER = #{productNumber}
    </delete>


<!--    상품등록-->
    <insert id="insert">
        <selectKey keyProperty="productNumber" order="BEFORE" resultType="long">
            SELECT SEQ_PRODUCT.nextval FROM DUAL
        </selectKey>
        insert into JUMAK_PRODUCT (PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_SUBTITLE,
                                   PRODUCT_RAW_MATERIAL, PRODUCT_NET_WEIGHT, PRODUCT_ALCOHOLICITY, PRODUCT_AREA,
                                   PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_INVENTORY, PRODUCT_SALES, PRODUCT_DISCOUNT,
                                   PRODUCT_RELEASE_DATE, PRODUCT_DISTILLERY)
        values (#{productNumber}, #{productCategoryNumber},#{productName},#{productSubtitle},
                #{productRawMaterial},#{productNetWeight},#{productAlcoholicity},#{productArea},
                #{productDescription},#{productPrice},#{productInventory},#{productSales},
                #{productDiscount},SYSDATE,#{productDistillery})

    </insert>

<!--    상품키워드등록-->
    <insert id="insertKeyword">
        insert into JUMAK_PRODUCT_TAG (PRODUCT_KEYWORD_NUMBER, PRODUCT_NUMBER)
        values (#{productKeywordNumber}, #{productNumber})
    </insert>


<!--    상품정보 수정-->
    <update id="update">
        update JUMAK_PRODUCT
        set PRODUCT_CATEGORY_NUMBER = #{productCategoryNumber},PRODUCT_NAME =#{productName} ,
            PRODUCT_SUBTITLE =#{productSubtitle} , PRODUCT_RAW_MATERIAL=#{productRawMaterial},
            PRODUCT_NET_WEIGHT=#{productNetWeight}, PRODUCT_ALCOHOLICITY=#{productAlcoholicity},
            PRODUCT_AREA=#{productArea},
            PRODUCT_PRICE=#{productPrice}, PRODUCT_INVENTORY=#{productInventory},
            PRODUCT_DISCOUNT=#{productDiscount}, PRODUCT_DISTILLERY=#{productDistillery}
        where PRODUCT_NUMBER = #{productNumber}
    </update>

    <select id="selectOneUpdate" resultType="productDto">
        select PRODUCT_NUMBER, PRODUCT_CATEGORY_NUMBER, PRODUCT_NAME, PRODUCT_SUBTITLE,
               PRODUCT_RAW_MATERIAL, PRODUCT_NET_WEIGHT, PRODUCT_ALCOHOLICITY, PRODUCT_AREA,
               PRODUCT_DESCRIPTION, PRODUCT_PRICE, PRODUCT_INVENTORY, PRODUCT_DISCOUNT,
               PRODUCT_RELEASE_DATE, PRODUCT_DISTILLERY
        from JUMAK_PRODUCT
        where PRODUCT_NUMBER = #{productNumber}
    </select>

</mapper>