<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/commons/default.css}">
    <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/inquiry_detail/inquiry_detail.css}" />
  </head>
  <header th:replace="~{/fragments/header :: header}"></header>
  <body>
    <div class="my_page">
      <!-- 사이드 메뉴 시작 -->
      <div class="sub_menu_box">
        <div class="sub_menu_content">
          <h2>마이페이지</h2>
          <ul class="sub_menu_list">
            <li>
              <h2>쇼핑정보</h2>
              <ul class="sub_menu_samll_list">
                <li>
                  <a href="/mypage/search-shipping">- 주문목록/배송조회</a>
                </li>
                <li>
                  <a href="/mypage/cancel-shipping">- 취소/반품/교환 내역</a>
                </li>
                <li>
                  <a href="/mypage/refund-shipping">- 환불/입금 내역</a>
                </li>
              </ul>
            </li>
            <li>
              <h2>고객센터</h2>
              <ul class="sub_menu_samll_list">
                <li>
                  <a href="/mypage/inquiry">- 1:1 문의</a>
                </li>
              </ul>
            </li>
            <li>
              <h2>회원정보</h2>
              <ul class="sub_menu_samll_list">
                <li>
                  <a href="/mypage/member-info">- 회원정보 변경</a>
                </li>
                <li>
                  <a href="/mypage/member-delete">- 회원 탈퇴</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- 사이드 메뉴 끝 -->
      <!-- 메인 시작 -->
      <div class="mypage_main_box">
        <div class="board_zone_title">
          <h1>1:1문의</h1>
        </div>
        <div class="board_zone_table">
          <form th:action="@{/mypage/inquiry-detail}" method="post" enctype="multipart/form-data" id="form_box">
            <table class="deail_table">
              <colgroup>
                <col style="width: 15%" />
                <col style="width: 85%" />
              </colgroup>
              <tbody>
                <tr>
                  <th scope="row">말머리</th>
                  <td>
                    <div class="table_text_box">
                      <select name="qaCategoryNumber" class="table_text">
                        <option value="0">문의내용</option>
                        <option value="1">회원/정보관리</option>
                        <option value="2">주문/결제</option>
                        <option value="3">배송</option>
                        <option value="4">반품/환불/교환</option>
                        <option value="5">영수증/증빙서류</option>
                        <option value="6">상품/이벤트</option>
                        <option value="7">기타</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">작성자</th>
                  <td>회원닉네임넣기!</td>
                </tr>
                <tr>
                  <th scope="row">주문번호</th>
                  <td>
                    <div class="table_text_box">
                      <input
                        type="text"
                        class="table_text"
                        maxlength="13"
                        placeholder="주문번호 13자리를 '-' 없이 입력하여 주세요"
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">제목</th>
                  <td>
                    <input type="text" class="table_text" name="qaTitle"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">본문</th>
                  <td class="table_main_content">
                    <div class="table_text_box">
                      <input type="text" class="table_text" name="qaContent"/>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">첨부파일</th>
                  <td class="main_file_content">
                    <div class="file_box">
                      <input
                        class="upload-name"
                        value="첨부파일"
                        placeholder="첨부파일"
                        readonly
                      />
                      <label for="file" class="file_lable">파일찾기</label>
                      <input type="file" id="file" class="file_content_box" />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="submit" class="inquriy_write_btn">게시물 작성</button>
          </form>
        </div>
      </div>
    </div>
    <footer th:replace="~{/fragments/footer :: footer}"></footer>
  </body>
  <script th:src="@{/js/fragments/header.js}"></script>
</html>
