<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/commons/default.css}">
    <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/inquiry_detail/inquiry_view.css}"/>
</head>
<header th:replace="~{/fragments/header :: header}"></header>
<body>
<div class="my_page">
    <!-- 사이드 메뉴 시작 -->
    <div class="sub_menu_box">
        <div class="sub_menu_content">
            <h2>마이페이지</h2>
            <ul class="sub_menu_list">
                <li>
                    <h2>쇼핑정보</h2>
                    <ul class="sub_menu_samll_list">
                        <li>
                            <a href="/mypage/search-shipping">- 주문목록/배송조회</a>
                        </li>
                        <li>
                            <a href="/mypage/cancel-shipping">- 취소/반품/교환 내역</a>
                        </li>
                        <li>
                            <a href="/mypage/refund-shipping">- 환불/입금 내역</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2>고객샌터</h2>
                    <ul class="sub_menu_samll_list">
                        <li>
                            <a href="/mypage/inquiry">- 1:1 문의</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2>회원정보</h2>
                    <ul class="sub_menu_samll_list">
                        <li>
                            <a href="/mypage/member-info">- 회원정보 변경</a>
                        </li>
                        <li>
                            <a href="/mypage/member-delete">- 회원 탈퇴</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- 사이드 메뉴 끝 -->
    <!-- 메인 시작 -->
    <div class="mypage_main_box">
        <div class="board_zone_title">
            <h1>1:1문의</h1>
        </div>
        <div>
            <div class="board_title_box">
                <h1 class="board_title" th:text="${qaTitle}"></h1>
            </div>
            <div class="board_info_box">
                <p class="user_nickname" th:text="${userNickName}"></p>
                <p class="center_bar"> | </p>
                <p class="board_write_date" th:text="${qaDate}"></p>
            </div>
            <div class="board_content_box">
                <div class="board_content_container">
                    <strong class="question_mark">Q.</strong>
                    <p class="board_content" th:text="${qaContent}"></p>
                </div>
            </div>
            <div class="reply_content" th:if="${qaReply != null}">
                <div class="reply_title_box">
                    <div>
                        <strong class="question_mark">A.</strong>
                    </div>
                    <div class="reply_title_detail_box">
                        <h2>고객님 문의에 답변 드립니다.</h2>
                        <div class="reply_jumak">
                            <h3 class="jumak_name">수상한 주막</h3>
                            <p class="center_bar"> | </p>
                            <p class="board_write_date" th:text="${qaReplyDate}"></p>
                        </div>
                        <div>
                            <p class="board_content" th:text="${qaReply}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn_box">
            <div>
                <button type="button" id="delete_btn" class="btn_list">삭제</button>
            </div>
            <div>
                <button type="button" id="update_btn" class="btn_list">수정</button>
            </div>
            <div>
                <button type="button" id="list_btn" class="btn_list">목록</button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/js/mypage/inquiry_detail/inquiry_view.js}"></script>
<script th:src="@{/js/fragments/header.js}"></script>
</html>
