<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="my_page" th:fragment="main">
    <!-- 사이드 메뉴 시작 -->
    <div class="sub_menu_box">
        <div class="sub_menu_content">
            <h2>마이페이지</h2>
            <ul class="sub_menu_list">
                <li>
                    <h2>쇼핑정보</h2>
                    <ul class="sub_menu_samll_list">
                        <li>
                            <a href="">- 주문목록/배송조회</a>
                        </li>
                        <li>
                            <a href="">- 취소/반품/교환 내역</a>
                        </li>
                        <li>
                            <a href="">- 환불/입금 내역</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2>고객샌터</h2>
                    <ul class="sub_menu_samll_list">
                        <li>
                            <a href="">- 1:1 문의</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2>회원정보</h2>
                    <ul class="sub_menu_samll_list">
                        <li>
                            <a href="">- 회원정보 변경</a>
                        </li>
                        <li>
                            <a href="">- 회원 탈퇴</a>
                        </li>
                        <li>
                            <a href="">- 배송지 관리</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2>커뮤니티</h2>
                    <ul class="sub_menu_samll_list">
                        <li>
                            <a href="">- 작성글 확인</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- 사이드 메뉴 끝 -->
    <!-- 메인 시작 -->
    <div class="mypage_main_box">
        <div class="mypage_main_content_box_1">
            <!-- 유저 등급 -->
            <div class="mypage_main_content_box_user_grade">
                <div class="mypage_main_content_box_user_grade_1">
                    <p>유지수님의</p>
                    <p>회원등급은 일반회원등급 입니다.</p>
                    <span>
                <select name="" id="">
                  <option value="">등급해택보기</option>
                </select>
              </span>
                </div>
                <div class="mypage_main_content_box_user_grade_2">
              <span>
                <img
                        src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/icon/mypage/icon_balance.png"
                        alt="작성글"
                />
              </span>
                    <span class="board_comment">
                <em>작성글 / 댓글</em>
                <a href="" class="user_comment">
                  <strong>0 / 0</strong>
                </a>
              </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>