<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/commons/default.css}">
    <link rel="stylesheet" th:href="@{/css/commons/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
    <link rel="stylesheet" th:href="@{/css/user/join/join_info.css}" />
  </head>
  <body>
  <header th:replace="~{/fragments/header :: header}"></header>
    <div id="wrap">
      <div id="container">
        <div id="contents">
          <div class="sub_content">
            <div class="content_box">
              <div class="join_base_wrap">
                <div class="member_tit">
                  <h2>회원가입</h2>
                  <ol>
                    <li>
                      <span>01</span>
                      약관동의
                      <span>
                        <img
                          src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/member/icon_join_step_off.png"
                          alt="약관동의완료"
                        />
                      </span>
                    </li>
                    <li class="page_on">
                      <span>02</span>
                      정보입력
                      <span>
                        <img
                          src="https://cdn-pro-web-251-112.cdn-nhncommerce.com/motioneye1_godomall_com/data/skin/front/a_sr01/img/member/icon_join_step_on.png"
                          alt="정보입력진행중"
                        />
                      </span>
                    </li>
                    <li>
                      <span>03</span>
                      가입완료
                    </li>
                  </ol>
                </div>
                <div class="member_cont">
                  <form
                    id="formJoin"
                    name="formJoin"
                    action="/user/join"
                    method="post">
                    <div class="base_info_box">
                      <h3>기본정보</h3>
                      <span class="important"
                        >표시는 반드시 입력하셔야 하는 항목입니다.</span
                      >
                      <div class="base_info_sec">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <colgroup>
                            <col width="25%" />
                            <col width="75%" />
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>
                                <span class="important">아이디</span>
                              </th>
                              <td>
                                <div class="member_warning">
                                  <input
                                    type="text"
                                    id="memId"
                                    name="userId"
                                    data-pattern="gdMemberId"
                                  />
                                </div>
                              </td>
                            </tr>
                            <tr class="">
                              <th>
                                <span class="important">비밀번호</span>
                              </th>
                              <td class="member_password">
                                <div class="member_warning">
                                  <input
                                    type="password"
                                    id="newPassword"
                                    name="userPassword"
                                    autocomplete="off"
                                    placeholder=""
                                  />
                                </div>
                              </td>
                            </tr>
<!--                            <tr class="">-->
<!--                              <th>-->
<!--                                <span class="important">비밀번호 확인</span>-->
<!--                              </th>-->
<!--                              <td>-->
<!--                                <div class="member_warning">-->
<!--                                  <input-->
<!--                                    type="password"-->
<!--                                    class="check-id"-->
<!--                                    name="userPassword"-->
<!--                                    autocomplete="off"-->
<!--                                  />-->
<!--                                </div>-->
<!--                              </td>-->
<!--                            </tr>-->
                            <tr>
                              <th>
                                <span class="important">이름</span>
                              </th>
                              <td>
                                <div class="member_warning">
                                  <input
                                    type="text"
                                    name="userName"
                                    data-pattern="gdMemberNmGlobal"
                                    value=""
                                    maxlength="30"
                                  />
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <span class="important">닉네임</span>
                              </th>
                              <td>
                                <div class="member_warning">
                                  <input
                                    type="text"
                                    name="userNickname"
                                    maxlength="20"
                                    value=""
                                  />
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <span>이메일</span>
                              </th>
                              <td class="member_email">
                                <div class="member_warning">
                                  <input
                                    type="text"
                                    name="userEmail"
                                    id="email"
                                    value=""
                                    tabindex="-1"
                                  />
                                  <select
                                    name="Email"
                                    id="emailDomain"
                                    class="chosen-select"
                                  >
                                    <option value="self">직접입력</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="hanmail.net">
                                      hanmail.net
                                    </option>
                                    <option value="daum.net">daum.net</option>
                                    <option value="nate.com">nate.com</option>
                                    <option value="hotmail.com">
                                      hotmail.com
                                    </option>
                                    <option value="gmail.com">gmail.com</option>
                                    <option value="icloud.com">
                                      icloud.com
                                    </option>
                                  </select>
                                </div>
                                <div class="member_warning js_email"></div>
                                <div class="form_element">
                                  <input
                                    type="checkbox"
                                    id="maillingFl"
                                    name="maillingFl"
                                    value="y"
                                  />
                                  <label for="maillingFl" class="check_s"
                                    >정보/이벤트 메일 수신에 동의합니다.</label
                                  >
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <span class="important">휴대폰번호</span>
                              </th>
                              <td class="member_address">
                                <div class="address_postcode">
                                  <input
                                    type="text"
                                    id="cellPhone"
                                    name="userCellphoneNumber"
                                    maxlength="12"
                                    placeholder="-없이 입력하세요."
                                    data-pattern="gdNum"
                                    value=""
                                  />
                                </div>
                                <div class="form_element">
                                  <input
                                    type="checkbox"
                                    id="smsFl"
                                    name="smsFl"
                                    value="y"
                                  />
                                  <label for="smsFl" class="check_s"
                                    >정보/광고 SMS 수신에 동의합니다.
                                    <br />
                                    (수신 동의시 마일리지 1,000원 추가 증정)
                                  </label>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <span> 전화번호</span>
                              </th>
                              <td>
                                <div class="member_warning">
                                  <input
                                    type="text"
                                    id="phone"
                                    name="userPhoneNumber"
                                    maxlength="12"
                                    placeholder="- 없이 입력하세요."
                                    data-pattern="gdNum"
                                    value=""
                                  />
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <span>주소</span>
                              </th>
                              <td class="member_address">
                                <div class="address_postcode">
                                  <input type="text" name="userZipcode" value="" id="zipcode"/>
                                  <button
                                    type="button"
                                    id="btnPostcode"
                                    class="btn_post-search"
                                  >
                                    우편번호검색
                                  </button>
                                  <input
                                    type="hidden"

                                    name="zipcode"
                                    value=""
                                  />
                                </div>
                                <div class="address_input">
                                  <div class="member_warning">
                                    <input
                                        id="address"
                                      type="text"
                                      name="userAddress"
                                      value=""
                                    />
                                  </div>
                                  <div class="member_warning js_address_sub">
                                    <input
                                      type="text"
                                      id="addressDetail"
                                      name="userAddressDetail"
                                      value=""
                                    />
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="addition_info_box">
                      <h3>부가정보</h3>
                      <div class="addition_info_sec">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <colgroup>
                            <col width="25%" />
                            <col width="75%" />
                          </colgroup>
                          <tbody>
                            <tr>
                              <th>
                                <span class="important">생일</span>
                              </th>
                              <td class="member_birthday">
<!--                                <div class="member_warning"></div>-->
<!--                                <div class="member_warning">-->
                                  <input type="text" name="userBirth" value="">
<!--                                  <select-->
<!--                                    class="chosen-single"-->
<!--                                    name="userBirth"-->
<!--                                    id="birthYear"-->
<!--                                    style="width: 100px"-->
<!--                                  >-->
<!--                                    <option value="">년</option>-->
<!--                                    <option value="2004">2004</option>-->
<!--                                    <option value="2003">2003</option>-->
<!--                                    <option value="2002">2002</option>-->
<!--                                    <option value="2001">2001</option>-->
<!--                                    <option value="2000">2000</option>-->
<!--                                    <option value="1999">1999</option>-->
<!--                                    <option value="1998">1998</option>-->
<!--                                    <option value="1997">1997</option>-->
<!--                                    <option value="1996">1996</option>-->
<!--                                    <option value="1995">1995</option>-->
<!--                                    <option value="1994">1994</option>-->
<!--                                    <option value="1993">1993</option>-->
<!--                                    <option value="1992">1992</option>-->
<!--                                    <option value="1991">1991</option>-->
<!--                                  </select>-->
<!--                                </div>-->
<!--                                <div class="member_warning">-->
<!--                                  <select-->
<!--                                    class="chosen-single"-->
<!--                                    name="userBirth"-->
<!--                                    id="birthMonth"-->
<!--                                    style="width: 80px"-->
<!--                                  >-->
<!--                                    <option value="">월</option>-->
<!--                                    <option value="01">01</option>-->
<!--                                    <option value="02">02</option>-->
<!--                                    <option value="03">03</option>-->
<!--                                    <option value="04">04</option>-->
<!--                                    <option value="05">05</option>-->
<!--                                    <option value="06">06</option>-->
<!--                                    <option value="07">07</option>-->
<!--                                    <option value="08">08</option>-->
<!--                                    <option value="09">09</option>-->
<!--                                    <option value="10">10</option>-->
<!--                                    <option value="11">12</option>-->
<!--                                  </select>-->
<!--                                </div>-->
<!--                                <div class="member_warning">-->
<!--                                  <select-->
<!--                                    class="chosen-single"-->
<!--                                    name="userBirth"-->
<!--                                    id="birthDay"-->
<!--                                    style="width: 80px"-->
<!--                                  >-->
<!--                                    <option value="">일</option>-->
<!--                                    <option value="01">01</option>-->
<!--                                    <option value="02">02</option>-->
<!--                                    <option value="03">03</option>-->
<!--                                    <option value="04">04</option>-->
<!--                                    <option value="05">05</option>-->
<!--                                    <option value="06">06</option>-->
<!--                                    <option value="07">07</option>-->
<!--                                    <option value="08">08</option>-->
<!--                                    <option value="09">09</option>-->
<!--                                    <option value="10">10</option>-->
<!--                                    <option value="11">11</option>-->
<!--                                    <option value="12">12</option>-->
<!--                                  </select>-->
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="btn_center_box">
                      <button
                        type="button"
                        id="btnCancel"
                        class="btn_member_cancel"
                      >
                        취소
                      </button>
                      <button
                        type="submit"
                        class="btn_confirm js_btn_join"
                        value="회원가입"
                      >
                        회원가입
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="~{/fragments/footer :: footer}"></footer>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script th:src="@{/js/fragments/header.js}"></script>

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script th:src="@{/js/user/join/join_info.js}"></script>
  </body>
</html>
