@charset "UTF-8";

main{
    width: 1200px;
    margin: 0 auto;
}

html,
body {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

/* 카테고리 */
.category-area {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.category-wrap {
    display: inline-block;
    min-height: 100px;
    padding: 20px 50px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    position: relative;
}
.product-new-box{
    display: inline-block;
    padding: 10px 30px;
    border: solid 1px gray;
    border-radius: 30px;
    color: black;
    text-align: center;

}
.category-box {
    display: inline-block;
    padding: 10px 30px;
    border: solid 1px gray;
    border-radius: 30px;
    color: black;
    text-align: center;
}

.category-box:hover {
    background-color: rgb(240, 200, 100);
    color: white;
}

.checked {
    color: white;
    background-color: rgb(240, 200, 100);
    border: solid 1px rgb(240, 200, 100);
}

input[type="radio"] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

/* 보드 */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.section-head{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    margin: 0 auto;
    padding: 40px 0;
}

.title {
    text-align: left;
    margin-bottom: 40px;
}
/* 상품 */
.product__list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    justify-items: center;
    padding-bottom: 30px;
    row-gap: 100px;
}

.list-product{
    max-width: 182px;
    position: relative;
}
.sale-box{
    position: absolute;
    padding-top: 7px;
    top: -20px;
    left: -3px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    line-height: 15px;
    z-index: 10;
    background-color: rgb(240,200,100);
    box-sizing: border-box;
    text-align: center;
}

.sale-box > span {
    display: block;
    font-size: 14px;
}

.sale-box strong {
    font-size: 20px;
    letter-spacing: 1px;
}

.main_img-box > img {
    width: 182px;
}

.title-box{
    text-align: center;
    margin-top: 20px;
}

.name{
    font-size: 16px;
    color: #252525;
    font-weight: bold;
}

.exple_box {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #acacac;
    line-height: 20px;
}


/* .like,
.comment {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-count,
.comment-count {
  margin-left: 5px;
} */


/* 페이징 */
.page-a {
    text-decoration: none;
    color: black;
    padding-top: 0px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.page-box {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.page-num {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    background-color: white;
    cursor: pointer;
}

.active,
.page-num:hover {
    background-color: rgb(240, 200, 100);
    color: white;
}
/* 보드 */

